[2021-03-16 06:55] jeromekelleher commented on #458
I just reran it @aktech, can you have a look and see if it succeeded?

[2021-03-16 07:13] aktech commented on #458
Yes, it did succeed. Thanks @hammer and @jeromekelleher

Now, there is one last thing that needs to be done for the benchmarks to be visible on the Github pages on this link: http://pystatgen.github.io/sgkit-benchmarks-asv/

1. Go to https://github.com/pystatgen/sgkit-benchmarks-asv/settings
2. In the Github Pages section, select the source branch to be main and
3. Check the **Enforce HTTPS** butt

[2021-03-16 08:42] jeromekelleher commented on #458
Done! Thanks for the guide @aktech

[2021-03-16 08:43] jeromekelleher commented on #458
@tomwhite, I guess we should confirm a few uploads of benchmarks before closing?

[2021-03-16 08:46] aktech commented on #458
Thanks! the benchmarks is live now: https://pystatgen.github.io/sgkit-benchmarks-asv/

[2021-03-16 11:04] tomwhite opened #491 "VCF test_all_fields not testing all files"
The test is not passing the `vcf_file` parameter, so the default file (sample.vcf.gz) is being used each time. Other test files are not being exercised in this test.

[2021-03-16 11:33] tomwhite opened #493 "Support Number=G VCF fields"
See https://github.com/pystatgen/sgkit/issues/464#issuecomment-790139564 and https://github.com/pystatgen/sgkit/pull/471#issuecomment-789152592 for implementation notes.

Note that `math.comb` is only available from Python 3.8 onwards, so we may need to use `scipy.special.comb`.

cc @timothymillar

[2021-03-16 13:47] eric-czech commented on #279
@astheeggeggs suggested [LDpred-funct](https://www.biorxiv.org/content/10.1101/375337v3) as well (thanks for that Duncan!).  He also noted that ldpred and PRScs include automatic estimation of heritability and percent causal variants.  A quick read of LDpred shows that this is done through LD-score regression and via a mixture prior on the SNP effects, respectively.

LDpred-funct is interesting si

[2021-03-16 14:10] eric-czech commented on #31
In https://github.com/dask/dask/issues/6835#issuecomment-729866844, @RogerMoens mentioned matrix sketching and in a quick read of that [paper](https://www.cs.yale.edu/homes/el327/papers/simpleMatrixSketching.pdf), I saw this:

We should see if any of those references are relevant here.

[2021-03-16 14:19] hammer commented on #279
For sure going to be necessary when we want to tackle #440.

[2021-03-16 14:46] hammer opened #494 "Don't gate IO libraries by default"
Given the presence of wheels for all 3 of our upstream IO libraries, I think it makes sense to favor convenience now and have `pip install sgkit` pull in the IO libraries by default.

[2021-03-16 14:51] hammer opened #495 "Release 0.2.0a1"
We are now [85 commits ahead of `master`](https://github.com/pystatgen/sgkit/compare/0.1.0a1...master) and have some nice improvements in VCF parsing in particular that it would be good for new users to pick up. Once we've gotten consensus on https://github.com/pystatgen/sgkit/issues/494 it would probably be good to cut another release.

[2021-03-16 17:48] jeromekelleher commented on #494
I'd vote for holding off on this until we have some conda packages or insight into how hard this is going to be. I agree it's an unpleasant hack, but we live a world of unpleasant hacks.

Plus, we'll make life miserable/impossible for Windows users if don't gate these libraries. I don't think we should write off Windows users, there's plenty of things people can do with sgkit without needing acces

[2021-03-17 09:34] tomwhite commented on #458
Looks good. Thanks for doing this @aktech. Would it be possible to add a badge to the README with a link to the benchmarks?

[2021-03-17 09:37] aktech commented on #458
Yeah, sure.

Can someone add this link: https://pystatgen.github.io/sgkit-benchmarks-asv/
In the about section of https://github.com/pystatgen/sgkit-benchmarks-asv as well

<img width="375" alt="Screenshot 2021-03-17 at 09 37 28" src="https://user-images.githubusercontent.com/5647941/111446515-66d84300-8704-11eb-9f19-75fc4d256261.png">

[2021-03-17 09:41] tomwhite commented on #494
Plink and bgen already work on Windows (and have very small wheels), so it's only VCF that's an issue. It should be possible to put all the IO libraries in the top-level namespace and either make the VCF ones not present or raise exceptions on Windows.

BTW I think there is a workaround for VCF on Windows, which would be use scikit-allel's vcf_to_zarr function followed by sgkit's read_vcfzarr func

[2021-03-17 09:48] #491 closed

[2021-03-17 09:49] jeromekelleher commented on #494
OK, but let's see if we can get a conda package build before we start changing stuff. There will be headaches, I'm sure of it.

I'll start the ball rolling there after we get the next release out?

[2021-03-17 09:53] tomwhite commented on #494
😄

So the next release should not be a pre-release, right?

[2021-03-17 10:27] jeromekelleher commented on #494
Actually, no, it can be either. It turns out that we can have pre-releases packages it's just that conda is hopeless with differentiating them from non-prereleases. But, if we only have pre-releases up there, then it should be fine.

So, the general rule is "don't make pre-release conda packages", but in this case it'll be fine for us.

[2021-03-17 10:31] jeromekelleher commented on #494
Probably the path of least resistance for us will be to make a bioconda package, which seems like the right thing to do given the dependencies. Windows users can use the pip package, which is fine I think.

[2021-03-17 14:33] hammer commented on #458
In the about section of https://github.com/pystatgen/sgkit-benchmarks-asv as well

Done!

[2021-03-18 08:52] timothymillar opened #499 "Cohort observed Heterozygosity"
In diploids the observed heterozygosity at a locus is typically described as the proportion of individuals who are heterozygous. This is generalised to polyploids in Hardy 2016 ([paper](https://onlinelibrary.wiley.com/doi/abs/10.1111/1755-0998.12431)) who defines the individual heterozygosity at a locus as the probability of drawing a pair of IBS alleles without replacement. For diploids this resu

[2021-03-18 14:27] tomwhite opened #500 "Investigate using JupyterBook for docs"

[2021-03-18 14:45] tomwhite commented on #500
We need to be able to render documentation pages, API docs, and Jupyter notebooks in a seamless way.

I've managed to port the existing site (with no Jupyter notebooks) to a JupyterBook style site. See #501
(I noticed that Xarray did something similar recently, see https://github.com/pydata/xarray/pull/4835/files)

I've also incorporated a Jupyter notebook into the site by using [MyST-NB](https://

[2021-03-18 15:08] hammer opened #502 "Submit LOI for CZI EOSS Cycle 4"
https://chanzuckerberg.com/rfa/essential-open-source-software-for-science/

[2021-03-18 15:52] hammer opened #504 "Add Algolia DocSearch to our site"
https://docsearch.algolia.com/

I've already applied, they're going to send me a JS snippet to put on our site to enable indexing. We should get a nice typeahead for our search box once this goes live.

[2021-03-18 18:31] jeromekelleher commented on #504
Nice, looking forward to seeing the results.

[2021-03-18 18:33] jeromekelleher commented on #499
Sounds good to me @timothymillar - are you volunteering to implement? :wink:

[2021-03-18 18:36] hammer commented on #504
For future reference here are the docs on getting it set up https://docsearch.algolia.com/docs/dropdown.

[2021-03-18 20:00] hammer commented on #458
Closing this issue as discussed on the call today. Thanks @aktech!

[2021-03-18 20:00] #458 closed

[2021-03-22 10:33] tomwhite commented on #495
We agreed in the meeting on 18 March 20201 that we'd do an alpha release straightaway, and then use it for building conda packages (see #427).

Should the version number be 0.2.0a1?

[2021-03-22 10:38] jeromekelleher commented on #495
+1 for  0.2.0a1

[2021-03-22 10:40] jeromekelleher commented on #427
As an update on this, it seems better to create a Bioconda package since we have dependencies that are not in conda-forge. I'll report back once I've started making the package after #495.

[2021-03-23 09:37] tomwhite commented on #495
### Release instructions

(Based on #367 - these could be automated in GH actions in the future.)

With the latest branch checked out locally, build the artifacts with:

[code]

Test locally by installing as follows in a new virtualenv (and running some sgkit functions to sanity check - see below):

[code]

Upload to TestPyPI

[code]

Test in a new virtualenv

[code]

Upload to PyPI

[code]

Test

[2021-03-23 09:37] tomwhite commented on #495
New release artifacts are on PyPi: https://pypi.org/project/sgkit/0.2.0a1/

[2021-03-23 09:53] jeromekelleher commented on #495
Looks like we can close this then?

FYI, we have some great infrastructure for building wheels and uploading artefacts in [tskit](https://github.com/tskit-dev/tskit/blob/main/.github/workflows/wheels.yml). Works really well.

[2021-03-23 09:53] tomwhite commented on #388
There was another race condition failure here: https://github.com/pystatgen/sgkit/runs/2157617424?check_suite_focus=true. The failure occurred in a different place though - between writing the zarr array, and reading it back in the test. So it might be mitigated in test code.

[code]

[2021-03-23 09:54] #495 closed

[2021-03-23 14:46] tomwhite opened #506 "Error in variant_stats if dataset has an index"
[code]

[2021-03-23 15:08] tomwhite opened #507 "max_alt_alleles is ignored when parsing VCF fields"
The fixed value of `DEFAULT_MAX_ALT_ALLELES` is always used, which can cause an error due to a dimension size mismatch.

[2021-03-23 16:33] tomwhite opened #509 "Allow empty covariate list in gwas_linear_regression"
In #463, the linear regression is first run with no covariates (i.e. only with an intercept). This is not possible with the current implementation of `gwas_linear_regression`, so we should add that capability. (There should be a check to see that `add_intercept` is True in the case of no covariates.)

[2021-03-23 17:30] tomwhite commented on #463
I've got a first draft of the Hail tutorial in sgkit [here](https://nbviewer.jupyter.org/github/tomwhite/sgkit/blob/86753e814c6d56982b6950ec3de727f3b1bfad7d/docs/examples/gwas_tutorial.ipynb) ([branch](https://github.com/tomwhite/sgkit/tree/gwas-tutorial)). (For comparison, the rendered Hail version is [here](https://nbviewer.jupyter.org/github/tomwhite/sgkit/blob/86753e814c6d56982b6950ec3de727f3b

[2021-03-23 17:31] tomwhite commented on #473
Somewhat related (but maybe best discussed in a separate issue): it's currently quite awkward to get contig names (rather than indexes) when looking at summaries of the data, or for chart labels (see https://github.com/pystatgen/sgkit/issues/463#issuecomment-805090864). It would be nice to have something that makes this easier too.

[2021-03-23 18:11] hammer commented on #473
I see 3 separate issues here

1. Read in contig metadata from the VCF file (a subset of https://github.com/pystatgen/sgkit/issues/464)
1. Make contig metadata easily accessible from the `sgkit` API
1. Include the contig in the variants index

I think there's an interesting conversation to have on whether we use the contig index or contig name as the key for the contig metadata and/or when building

[2021-03-24 08:37] jeromekelleher commented on #463
I agree we should keep plotting stuff out of sgkit - it's a separate thing, and we could do a whole other package on it. Adding matplotlib to our dependencies would significantly increase the install weight.

[2021-03-24 08:41] jeromekelleher commented on #463
I've had a quick look, and looks great! We can make a few things more fluid I agree, but overall the functionality is there. Very exciting!

[2021-03-24 09:00] ravwojdyla commented on #506
@tomwhite I agree, that doesn't make sense.

How about instead we ignore missing spec errors for indexes? So the only thing you would need to add is that in case of for example `ValueError: No array spec registered for variants`, you would check if the missing variable spec (in this case `variants`) is an index in the `ds.indexes`, and if it is - add debug log message that we ignore check for this

[2021-03-24 13:10] hammer commented on #463
I'm not sure I agree with this assertion, but this discussion is out of scope for this issue. To be addressed later!

[2021-03-24 15:20] tomwhite commented on #506
Thanks @ravwojdyla - sounds good. I'll submit a PR

[2021-03-24 15:21] #507 closed

[2021-03-30 11:46] aktech opened #511 "Use conda environment.yml file for setting up the environment"
At the moment we use `requirements.txt` for creation of environment for development and usage. Although its quick to get started with pip, I think its a good idea to start using `environment.yml` for a more consistent environment. This is specially useful when installing GPU related libraries like `cupy` and cudatoolkit, which are non-trivial to install via pip. Also we have `msprime` as a develop

[2021-03-30 11:51] tomwhite commented on #448
I updated the benchmarking code to use Dask 2021.3.1 (it was previously using 2.30.0) and I got the same result as before for `gwas_simulation_unchunked_sample.ipynb` (70s).

This version of Dask has the improved matmul implementation (https://github.com/dask/dask/pull/7000), and dask-cloudprovider has had some changes that resulted in alterations. See https://github.com/tomwhite/gwas-benchmark/co

[2021-03-30 12:14] aktech opened #512 "Running GPU Tests on the Github Actions CI"
## Problem
At the moment we don't have a way to run tests in sgkit on GPU, we will soon have some GPU tests after #498 is merged. It will be good idea to figure out something soon.

Github Actions doesn't provides a way to spin up GPU on its infrastructure as of now. The only way to run tests on GPU via Github Actions is via [self hosted runners](https://docs.github.com/en/actions/hosting-your-own

[2021-03-30 14:05] jeromekelleher commented on #511
It's probably good practise to have one defined so that things like binder will work. I wouldn't say we change our current requirements.txt setup though.

Re msprime, it's possible to install it without GSL now if we use ``--pre`` to install an alpha version. The full release is due in 2 weeks, and we can clear out some cruft in CI once that's done.

[2021-03-30 14:30] hammer commented on #511
cc #427 I think

[2021-03-31 07:51] jeromekelleher commented on #512
Thanks @aktech, this is very helpful.

[2021-04-01 13:50] tomwhite opened #514 "Codecov reports are not consistently posted on PRs"
On some PRs on https://app.codecov.io/gh/pystatgen/sgkit/pulls?page=1&state=open&order=-pullid it says "Missing base report"

[2021-04-01 13:50] #499 closed

[2021-04-01 13:55] jeromekelleher commented on #514
Anything to do with our rebase strategy I wonder?

[2021-04-01 14:26] #482 closed

[2021-04-06 09:50] #506 closed

[2021-04-06 10:40] jeromekelleher commented on #427
Initial PR open on bioconda here: https://github.com/bioconda/bioconda-recipes/pull/27844

It'll probably take a while to get the details ironed out, I'll report back here once there's any information.

[2021-04-06 11:39] jeromekelleher commented on #427
This worked better than I had hoped. The only issue seems to be that we don't have any conda package for bed-reader.  Long-term we would want to get a conda package for bed-reader, but I would suggest we go ahead and ask to merge the current bioconda package and get some testing done on it. We can see how our experience of using it goes (I'm not convinced we won't hit gnarly issues to do with nump

[2021-04-06 12:09] jeromekelleher commented on #427
There's a bit of a quirk with bed-reader, since it's partly written in Rust but it looks like there's a few bioconda packages that use ``maturin`` already, so maybe making a package wouldn't be so hard.

[2021-04-06 12:18] jeromekelleher commented on #427
So, a summary. We have two options: (1) a conda-forge package or (2) a bioconda package. There are pros and cons to both:

- Bioconda means that we can natively package everything as conda (assuming we can make a bioconda/conda-forge package for bed-reader); but
- conda-forge has better tooling, doing things like automatically issuing PRs when a package is issued to PyPI. There is also much better

[2021-04-06 12:19] jeromekelleher commented on #427
@eric-czech, @alimanfoo, @aktech - you're all conda users I believe, any thoughts here?

[2021-04-06 13:42] tomwhite commented on #456
This has now been fixed in Dask, so should be possible to check if it resolves the issue here.

[2021-04-06 13:49] tomwhite commented on #416
Can this be closed now that #472 is merged?

[2021-04-06 13:52] tomwhite commented on #322
Fixed in #501

[2021-04-06 13:52] #322 closed

[2021-04-06 15:35] eric-czech commented on #427
+1 to conda-forge, though I don't have a very smart reason for as much; I just rarely expect anything I install from bioconda to work well.

[2021-04-06 15:38] hammer commented on #427
@CarlKCarlK has been very easy to work with, I’m sure he’d be open to working with us to get a conga package together.

Thanks for getting this started @jeromekelleher!

[2021-04-06 16:13] eric-czech commented on #473
One objection I would have is that an argument could be made that the default should include the allele as well (for anyone working w/ split alleles from WES/WGS) and this could potentially be very memory-intensive for a default behavior.

[2021-04-06 16:18] CarlKCarlK commented on #427
Yes, I'm happy to have bed-reader be a conda package. What are the steps in making this happen?

  *   Carl

From: Jeff Hammerbacher ***@***.***>
Sent: Tuesday, April 06, 2021 8:39 AM
To: pystatgen/sgkit ***@***.***>
Cc: Carl Kadie ***@***.***>; Mention ***@***.***>
Subject: Re: [pystatgen/sgkit] Conda package (#427)

The only issue seems to be that we don't have any conda package for bed-reader.

[2021-04-06 17:14] jeromekelleher commented on #427
@CarlKCarlK - the simplest thing would be for me to start the process of creating a conda-forge package for bed-reader, and ping you once I've figured things out and it's ready for final review and merging. Once the initial package is built, the maintenance is very straightforward (really just "approving" an auto update PR and clicking merge, the vast majority of the time), so hopefully you'd be h

[2021-04-06 17:16] CarlKCarlK commented on #427
All sounds good. I'm happy to take over maintenance once we get it going.

From: Jerome Kelleher ***@***.***>
Sent: Tuesday, April 06, 2021 10:15 AM
To: pystatgen/sgkit ***@***.***>
Cc: Carl Kadie ***@***.***>; Mention ***@***.***>
Subject: Re: [pystatgen/sgkit] Conda package (#427)

@CarlKCarlK<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FCarlKCarlK&data=04%7C01%7

[2021-04-06 17:56] aktech opened #517 "Harness CUDA's shared memory to speed up GPU calculations"
We'll soon have some GPU implementation of Pairwise distance functionality: https://github.com/pystatgen/sgkit/pull/498

## Primer on GPU and the Problem

The architecture of a GPU is divided into grids and each grid contains some blocks and each block contains threads and threads is where all the calculation happens.

During any calculation each thread reads from DRAM except unless if finds the i

[2021-04-06 21:23] timothymillar commented on #416
@tomwhite I actually realized a couple of days ago that the methods in #472 still need to be added to the docs and top level API.
I'll put another PR together shortly.

[2021-04-07 07:37] jeromekelleher commented on #427
Great, thanks @CarlKCarlK. Initial work going on over at https://github.com/conda-forge/staged-recipes/pull/14471

[2021-04-07 08:32] jeromekelleher opened #518 "Packaging"
There's a number of things going on with packaging, so I thought it would be good to bring things together into a meta-issue here.

Packaging is complicated in Python, and to reach the largest audience we need to support both pip and conda in a robust and reliable manner across Linux, OSX and Windows. Ideally, we would like to automatically pull in all our dependencies and always ship a fully-feat

[2021-04-07 20:11] #416 closed

[2021-04-09 16:45] jeromekelleher commented on #427
Update: we have a conda-forge package for bed-reader!

https://github.com/conda-forge/bed-reader-feedstock
https://anaconda.org/conda-forge/bed-reader

:tada:

[2021-04-09 16:48] hammer commented on #427
What can we do to remove this obstacle? Is there some upstream work we can do to get `cyvcf2` into conda-forge?

[2021-04-09 17:06] jeromekelleher commented on #427
It's not to be taken lightly, as it involves packaging htslib for conda-forge. This shouldn't be done without engaging the htslib developers. Ultimately this would be a good thing, I think, and I would be willing to do some legwork and talk to the relevant people, but we shouldn't expect it to happen quickly.

[2021-04-12 08:41] tomwhite commented on #31
I've been thinking about the implementation of LD-prune and how it relates to the [windowing support](https://pystatgen.github.io/sgkit/latest/generated/sgkit.window.html) we have in sgkit.

The terminology here is potentially confusing. In gwas-analysis code the `axis_intervals` function returns _axes_ and _chunks_. A _chunk_ in that context is _not_ a  Dask chunk, and is what we have been callin

[2021-04-15 13:12] jeromekelleher opened #522 "Problem with Fst tests"
Since #521, the Fst tests have been skipped. We were getting different values between tskit and our Fst.

[2021-04-15 13:13] jeromekelleher opened #523 "Problem with Tajimas D tests"
Since #521 the Tajima's D tests have been skipped. We were getting different values > n=2.

[2021-04-15 15:19] hammer commented on #504
DocSearch is ready! I will see if I can do the integration myself...

[2021-04-15 16:09] jeromekelleher commented on #427
On the call 2021-04-15 we decided to go with a conda-forge package. I'll report back when there's progress.

[2021-04-15 19:02] eric-czech commented on #463
I had a few minor suggestions on the notebook after taking a closer look.

This could be a bit clearer:

[code]

Unnecessary output:

[code]

Perhaps these parts could be more pipe-y?

[code]

If I had to take a guess where the discrepancy is coming from w/ Hail, this could be it if there are any partial calls (i.e. only one missing):

[code]
Do you know if that ever happens?

A couple other thoug

[2021-04-15 22:13] quasiben commented on #438
I poked at this a bit recently.  @beckernick reminded me that there is a [cuml/dask linear-regression](https://docs.rapids.ai/api/cuml/nightly/api.html?highlight=regression#cuml.dask.linear_model.LinearRegression) but that probably won't work here. With the broken out least squares we need to fix a scipy/cupy issues within dask:
https://github.com/dask/dask/issues/7537

I don't think this should b

[2021-04-19 08:14] #509 closed

[2021-04-19 17:26] hammer opened #529 "Data Management and Summary Statistics with PLINK (2020)"
Chris Chang recently published a [protocol](https://link.springer.com/protocol/10.1007/978-1-0716-0199-0_3) for PLINK with instructions on how to perform common data management operations. It might be useful to bring this protocol over to our documentation with `sgkit` syntax, similar to #463.

[2021-04-20 08:55] eric-czech commented on #438
Probably -- the code is solving a large number of individual OLS regressions at once so my assumption was that packing it all into linear algebra operators was going to be faster than iterating over a dimension of the input matrix and doing the regressions individually (i.e. by calling cuml/LinearRegression.fit thousands or millions of times).

dask/dask#7537

That's a bummer!

[2021-04-20 10:07] tomwhite opened #530 "Rechunker 0.4 is causing build failures"
It looks like prefect is now a required dependency. I suggest we pin to the previous version of rechunker (0.3.3) while this is investigated and fixed.

[2021-04-20 10:29] #530 closed

[2021-04-20 14:36] tomwhite commented on #463
Thanks @eric-czech for all the suggestions! I have included them in the [latest notebook](https://nbviewer.jupyter.org/github/tomwhite/sgkit/blob/227ce22719ecbb58d761de50142b8a6200bb494a/docs/examples/gwas_tutorial.ipynb).

I think it does, but I need to dig in again to see if the counts are the same between the two.

It would be good to have some kind of convenience function for that. For the mom

[2021-04-20 16:15] quasiben commented on #438
It's not too bad.  I think most of the parts we care about are working.  However, the next issue might take a bit more work. I don't think there is much support in CuPy for distribution functions: `cdf`, `pdf`, `sf`.  This is related to the last call in `def gwas):

[2021-04-20 18:36] hammer opened #533 "Submit full application for CZI EOSS Cycle 4"
Full applications are due no later than **May 19, 2021** by 5 pm PT.

- [RFA](https://chanzuckerberg.com/rfa/essential-open-source-software-for-science/)
- [Application Instructions](https://github.com/pystatgen/sgkit/files/6345916/Application.Instructions.pdf)
- [Grants portal](https://apply.chanzuckerberg.com/)

[2021-04-20 18:45] quasiben commented on #438
I also benchmarked what was currently supported and saw a modest improvement:
https://gist.github.com/quasiben/f7f3099b3b250101d15dd4b3a2fda26e

m = 100000 # Number of individuals (i.e. people)
c = 3    # Number of covariates (i.e. confounders)

Data was pre-generated before running the example and executed on a single GPU

[code]

[2021-04-20 19:01] hammer commented on #533
A subtask: confirm that NumFOCUS can be the fiscal sponsor, or get Oxford moving right away.

[2021-04-21 07:46] jeromekelleher opened #534 "Typo in getting started/data structures image"
Says "The 5 dimensions show[n] are common..."

data-structures-xarray.jpg

[2021-04-21 10:06] #534 closed

[2021-04-21 15:12] jeromekelleher commented on #533
Definitely - we're pushing my internal deadlines even without Oxford being the lead institution!

[2021-04-21 15:20] jeromekelleher commented on #533
Writing subtasks:

- Work plan: A description of the proposed work the applicants are requesting funding for, including resources the applicants will provide that are not part of the requested funding. For software development-related work (e.g., engineering, product design, user research), specify how the work fits into the existing software project roadmap. For community outreach related activit

[2021-04-21 17:04] jeromekelleher commented on #427
The initial PR has just been merged, so we should have a feedstock repo and a package in the next few hours.

[2021-04-21 18:03] eric-czech commented on #338
Hey @aktech would you mind emailing me at eric.allen.czech@gmail.com (or just tell me your email)?  We're having a call with some people at NVIDIA and I wanted to forward the invite to you.

[2021-04-21 18:19] jeromekelleher commented on #427
https://github.com/conda-forge/sgkit-feedstock

https://anaconda.org/conda-forge/sgkit

[2021-04-22 10:18] jeromekelleher commented on #427
Could we get some conda users to try out the package please? I think we can close the issue then.

[2021-04-22 11:25] jeromekelleher commented on #351
I think we should get this done soon - the longer we leave the worse it'll get. It's really quite jarring seeing ``master`` once you get used to ``main``...

[2021-04-22 11:37] #522 closed

[2021-04-22 11:38] tomwhite commented on #351
I agree. I can do this next week if no one beats me to it.

[2021-04-22 12:03] tomwhite commented on #523
Continuing the discussion from https://github.com/pystatgen/sgkit/pull/521#issuecomment-823405576. For n=10, this change

[code]
prints
[code]

The implementation of `Tajimas_D` in sgkit calculates the number of segregating sites as 28 (one of the 29 is not segregating, since it's all ref). If I manually change the number to 31, then the test passes - which shows that it's only this part of the ca

[2021-04-22 14:52] jeromekelleher commented on #523
Ah! Well, this is interesting. The definition of the ``segregating_sites`` stat is subtle in tskit:

However, we have triallelic sites in this example, which leads to this counter-intuitive result of having 31 segregating sites out of 29!

@petrelharp, do we have the correct definition of Tajima's D in tskit?

[2021-04-22 14:53] jeromekelleher commented on #523
Thanks for tracking this down btw @tomwhite, I'd have spent ages figuring that out!

[2021-04-22 15:06] eric-czech commented on #440
There is this [humanbase](https://hb.flatironinstitute.org) tool from [Olga Troyanskaya's Lab](https://function.princeton.edu/people/) which runs a [NetWAS](https://pubmed.ncbi.nlm.nih.gov/25915600/) for you if you provide it sumstats.  The [docs](https://humanbase.readthedocs.io/en/latest/netwas.html#gwas-file) describe the 3 formats it will let you provide them in: vegas, forge, and PLINK.  I do

[2021-04-22 15:11] hammer commented on #440
Interesting, NetWAS seems to operate on per-gene summary statistics, rather than per-variant. It would be interesting to hear from the Bristol team if they've considered computing per-gene summary statistics as part of their [OpenGWAS](https://gwas.mrcieu.ac.uk/) work.

[2021-04-22 15:55] tomwhite commented on #523
Ah, interesting. BTW the allele counts are as follows:

[code]

There is one site with 1 allele (`10 0 0`), 25 sites with 2 alleles, and three sites with 3 alleles. So that makes 25*(2-1) + 3*(3-1) = 31 segregating sites, which is what tskit calculates.

[2021-04-22 15:59] tomwhite commented on #523
This is the fix to make sgkit agree with tskit (although it should have a better comment!):
[code]

[2021-04-22 17:15] petrelharp commented on #523
As far as I know, there's no canonical definition of Tajima's D with multiallelic sites. The motivation for Tajima's D is based on Watterson's theta:
![Screenshot from 2021-04-22 10-06-05](https://user-images.githubusercontent.com/1046249/115756311-ee901d80-a352-11eb-9950-5bd6f956dfc4.png)
and [Watterson's calculations](https://www.sciencedirect.com/science/article/pii/0040580975900209) assume an

[2021-04-22 18:24] jeromekelleher commented on #523
Good enough for me, thanks @petrelharp!

[2021-04-23 03:38] shy218 opened #539 "Reading VCF with Chromosome Y"
I currently test the packages on a small vcf dataset, but the chromosome in the vcf file has Y, (I think it is a chromosome for sex?). However, sgkit function vcf_to_zarr() gives an error that "Y is not in list." Do I need to first convert Y into a number?

[2021-04-23 07:33] aktech opened #540 "Add explicit checks for literal types"
We use Literal types for creating a list of Enum string values to be used in the code base, but we only rely on mypy at the moment for checking the string value passed is a valid literal, which is not ideal since the users of the library may not run mypy on their code to get warned about invalid literal values, see this: https://github.com/pystatgen/sgkit/pull/498#discussion_r614206050 from @eric-

[2021-04-23 07:54] tomwhite commented on #539
@shy218 you don't need to convert Y into a number, since chromosomes (contigs) are strings in general. Can you post the VCF file and code you are using to convert it please? (Also, I don't know if you've seen https://pystatgen.github.io/sgkit/latest/vcf.html which may be useful.)

[2021-04-23 10:28] shy218 commented on #539
Sorry. It is the problem with my testing file. I can't read it either by Hail or Plink. I use another VCF file provided by my friend, who works in a bioinformatics research lab, and it works. I currently use the VCF from here: https://ftp-trace.ncbi.nih.gov/1000genomes/ftp/release/20130502/

[2021-04-23 10:28] #539 closed

[2021-04-23 10:44] shy218 opened #541 "VCF file for alleles = 2"
I currently have the testing VCF file, but the number of alleles is 4. Do you have any dataset with alleles as 2? Or do we have functions, (like filter in Hail) to convert the alleles to 2 by deleting all the variants with alleles 4?

[2021-04-23 11:43] eric-czech commented on #541
Hey @shy218, you could try [hail.methods.split_multi_hts](https://hail.is/docs/0.2/methods/genetics.html#hail.methods.split_multi_hts).  That would let you create a new VCF with only bi-allelic variants without losing any of the original variants.

[2021-04-23 17:08] aktech opened #543 "Make vector generation consistent for dask and numpy in distance tests"
In the following code the dask version is returning ints in [0, 2] and the numpy arrays are floats in [0, 1].

https://github.com/pystatgen/sgkit/blob/9cc4490d89c27d5e00322b517a74c626043b105d/sgkit/tests/test_distance.py#L20-L28

Following change was suggested for the same here: https://github.com/pystatgen/sgkit/pull/498#discussion_r614265136 by @eric-czech

[code]

But for some unknown reasons t

[2021-04-24 13:55] hammer opened #544 "Consider write path for IO libraries"
Over at https://github.com/malariagen/vector-data/discussions/22#discussioncomment-590949, @alimanfoo notes that Ag1000G only releases their data as VCF files, and that it might be nice to have the same data in a PLINK-accessible format. Could `sgkit` handle this conversion?

[2021-04-25 06:43] shy218 opened #545 "pc_relate issue"
When I run the pc_relate on my dataset, it gives an error "Input must be a square matrix to perform lu decomposition" in line 157 (half_beta = da.linalg.inv(2 * r).dot(q.T).dot(imputed_call_g.T)). I get an insight into QR decomposition, and the output q is squared, but r is not. However, if we don't run line 153. (pcsi = pcsi.T.rechunk((None, -1)), the r will be square. Do you know how to fix this

[2021-04-25 08:29] eric-czech commented on #545
Hey @shy218, could you attach the code you are using and show the input dataset for the call to pc_relate?

[2021-04-25 09:49] shy218 opened #548 "hwe dtype inference"
When I run the HWE function on the simulated dataset or my own dataset, I get

  File "<stdin>", line 1, in <module>
  File "/home/ubuntu/anaconda3/lib/python3.7/site-packages/sgkit/stats/hwe.py", line 214, in hardy_weinberg_test
    p = da.map_blocks(hardy_weinberg_p_value_vec_jit, *obs)
  File "/home/ubuntu/anaconda3/lib/python3.7/site-packages/dask/array/core.py", line 683, in map_blocks
    dt

[2021-04-25 10:07] shy218 commented on #545
The code and data are in this github repo: https://github.com/shy218/sgkit-benchmark

[2021-04-25 12:02] eric-czech commented on #548
Please share the code you used to create the data and call the function.

[2021-04-27 09:04] tomwhite commented on #463
Now that https://github.com/pydata/xarray/pull/5126 is in, when the next version of Xarray is released (0.17.1), we can put the following at the top of the notebook to get the effect we want:

[code]

[2021-04-27 09:48] tomwhite opened #549 "Add rechunker to upstream tests"
To catch things like #530 earlier

[2021-04-28 21:48] quasiben commented on #438
I ran with the Biobank settings:

[code]

And the computation took ~100 seconds.  This was done on a DGX2 with 16x 32GB V100s

[2021-04-29 11:01] eric-czech commented on #438
Very cool @quasiben!  While this isn't a completely compatible comparison, the [times I saw for this on real data](https://github.com/related-sciences/ukb-gwas-pipeline-nealelab/issues/32#issue-771021276) were ~150 seconds using 60 n1-highmem-16 GCE nodes.  That is fairly downwardly biased though since the number of individuals used varies by phenotype and for those settings in the simulation, I c

[2021-04-29 15:53] ravwojdyla commented on #545
@shy218 thanks for the repo! What is the source of that input data? What's the reason for [this line](https://github.com/shy218/sgkit-benchmark/blob/224ea0876c0d7cf5b97c7a031908e614f3bd65c3/pc-relate-test.py#L13):

[2021-04-29 16:11] hammer opened #552 "Add CuPy masked array to design discussions"
@eric-czech mentioned on a recent developer call that we use Numba rather than CuPy to target GPUs because CuPy does not have masked array support https://github.com/cupy/cupy/issues/2225.

[2021-04-29 16:12] jakirkham commented on #552
How are masks handled today with Numba?

[2021-04-29 16:20] eric-czech commented on #552
They aren't afaik, looking at https://github.com/numba/numba/issues/1834.

We use -1 in int8's as a placemark and then roll our own nan-aware numba operations.

[2021-04-29 16:37] eric-czech commented on #552
Adding a little more detail to that, our design iterated like this:

1. Let's try to use the numpy API for everything, or at the very least try to stick to the Dask API
    - This broke down at not having nan-aware operations for small integers
        - Genetic variant calls only have 3 states, present, absent, or missing so small integer dtypes are ideal
2. Instead, let's rely on `guvectorize(..

[2021-04-29 16:58] jakirkham commented on #552
Yeah [NumPy supports masked arrays]( https://numpy.org/doc/stable/reference/maskedarray.html ) as does [Dask]( https://docs.dask.org/en/latest/array-assignment.html#masking ). Though of course CuPy does not ( https://github.com/cupy/cupy/issues/2225 ). Implementing the structure of a masked array is not hard. The hard part comes when making all of the different kernel mask aware. As masks were a b

[2021-04-29 17:33] ravwojdyla commented on #545
@shy218 ah now I see, what was that line above for. Anyhow `pc_relate` requires that `sample_pcs` be `(components, samples)`, as documented [here](https://github.com/pystatgen/sgkit/blob/e8a11dcffc65cc3ac9a6693e96ea8236f93a32e4/sgkit/stats/pc_relate.py#L72-L77), you are submitting `sample_pca_component` which is `(variants, components)`. What you are looking for is `sample_pca_projection` BUT you

[2021-04-29 17:46] ravwojdyla opened #554 "Align pc_relate with pca results"
`pc_relate` came before our own implementation of `pca`, and it expects the PCs for samples to be `(components, samples)`. Our `pca` will produce `sample_pca_projection` that are `(samples, components)`, which requires a transpose to use in the context of the `pc_relate`.

TODO:
 * results of `pca` should be readily usable in the context of `pc_relate`
 * now that we have our own `pca`, let's use

[2021-04-29 17:50] ravwojdyla commented on #545
Also created a separate issue to make `pca` result readily usable in the context of `pc_relate`: #554 (without the extra transpose).

[2021-04-30 08:29] #549 closed

[2021-04-30 23:06] jmarshall commented on #427
A large number of packages in bioconda depend on HTSlib. Due to limitations in the _current_repodata.json_ implementation, conda does not track cross-channel dependencies well. See conda/conda#9905 and bioconda/bioconda-recipes#24199 for details. Thus moving HTSlib from bioconda to conda-forge while this conda limitation exists would cause great inconvenience for users (who would increasingly be o

[2021-05-04 08:18] jeromekelleher commented on #427
Thanks very much for the information @jmarshall, this is extremely helpful. I was actually about to reach out to you about this to get your thoughts, so you beat me to it!

After thinking about it more, I agree that moving htslib to conda-forge would be very messy and likely result in a lot of breakage. It seems like there are probably better things for us all to do...

[2021-05-04 17:14] eric-czech commented on #279
I wonder if we could wrap https://dask-glm.readthedocs.io/en/latest/api.html#dask_glm.regularizers.L1 in some cross-validation logic as an implementation for [A Fast and Scalable Framework for Large-scale and Ultrahigh-dimensional Sparse Regression with Application to the UK Biobank](https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1009141) (2020)?  I've never used that metho

[2021-05-04 17:24] hammer commented on #279
I do appreciate the potential for scalability of this library, but I'm a bit concerned about this line from https://github.com/dask/dask-glm/blob/main/README.rst:

[2021-05-04 17:48] eric-czech commented on #279
Ah, I see L1 penalties supported in the dask-ml logistic and linear regressions but it looks like the core solvers for those methods are still in dask-glm (https://github.com/dask/dask-ml/blame/main/dask_ml/linear_model/glm.py#L5)? Looks like the only substantial updates there in the last few years were for cupy support: https://github.com/dask/dask-glm/blame/main/dask_glm/algorithms.py.  I choose

[2021-05-05 12:56] hammer opened #555 "PRS notebook"
Filing for a future in which #279 is solved: https://choishingwan.github.io/PRS-Tutorial as pointed out by @tomwhite provides code to accompany [Tutorial: a guide to performing polygenic risk score analyses](https://pubmed.ncbi.nlm.nih.gov/32709988/) (2020). It would be great to have a notebook using `sgkit` to implement this protocol.

[2021-05-06 19:11] hammer commented on #68
Conbench from Ursa Labs could be useful for us: https://ursalabs.org/blog/announcing-conbench. cc @arunkk09 and @LiangdeLI

[2021-05-07 10:23] tomwhite commented on #463
Xarray 0.18.0 has been released with the expand/collapse change, so I updated the notebook here: https://nbviewer.jupyter.org/github/tomwhite/sgkit/blob/a6d850de9056f80a0f82ab72a4de158a630920f6/docs/examples/gwas_tutorial.ipynb

[2021-05-07 10:38] eric-czech commented on #279
Looks like https://github.com/bulik/ldsc from Ben Neale's lab is a good reference implementation too (LDpred-funct uses it, e.g.).

[2021-05-07 12:16] hammer opened #556 "Source of notebooks"
https://github.com/statgenetics/statgen-courses from Columbia has several notebooks that we may want to consider porting to `sgkit`.

[2021-05-10 10:13] #338 closed

[2021-05-10 13:46] tomwhite commented on #351
Now that #498 is done, I'd like to do this today. My plan is to follow the steps in the instructions posted above, then #557 should fix the references in our build that we have to the master branch.

[2021-05-10 15:41] tomwhite commented on #351
I've renamed the branch. You should be able to change your local refs with:

[code]

It looks like the instructions that I followed have been superseded by a more [streamlined GH approach](https://github.com/github/renaming), but I didn't see that until _after_ the rename! This means that open PRs have been automatically closed, and I can't see a way to reopen them. See https://github.com/pystatge

[2021-05-10 16:18] jeromekelleher commented on #351
Thanks for sorting this out @tomwhite - don't worry about my PRs, it's no biggie.

[2021-05-11 07:37] jeromekelleher opened #563 "Windowing not implemented for Tajima's D"
It looks like windowing has not been implemented for Tajima's D yet. The segregating sites variable (`S`) needs to be calculated per-window (using `window_statistic`) rather than having a total sum calculated (which assumes a single window).

_Originally posted by @tomwhite in https://github.com/pystatgen/sgkit/pull/542#discussion_r620238644_

[2021-05-12 10:30] #523 closed

[2021-05-13 08:06] jeromekelleher opened #564 "Roadmap"
One of the key things we need for CZI EOSS application (#533) is a roadmap.

What's the standard approach to this? (Maybe a ROADMAP.md file?)

The layout suggested [here](https://mozillascience.github.io/working-open-workshop/roadmapping/) seems good.

[2021-05-13 16:08] hammer commented on #279
Some thoughts from today's [developer call](https://github.com/pystatgen/sgkit/discussions/565):

- We'll need to read in and represent sumstats, so #102 is a precursor for this work.
- We'll need to read in and represent LD reference panels, so we should look for OpenGWAS-like projects that have done the hard work of preparing and hosting that data. PRScs has 1000G- and UKB-derived LD reference p

[2021-05-17 01:38] timothymillar opened #566 "Observed heterozygosity does not handle samples without a cohort."
In `observed_heterozygosity` samples without are cohort are not being ignored correctly.

I missed the option of specifying a sample of not belonging to a cohort with -1 ([code](https://github.com/pystatgen/sgkit/blob/main/sgkit/stats/popgen.py#L954)). This should be handled as in `count_call_alleles` ([code](https://github.com/pystatgen/sgkit/blob/main/sgkit/stats/aggregation.py#L95)).

Side note

[2021-05-17 10:15] tomwhite opened #569 "Partition maximal_independent_set by contig"
The `maximal_independent_set` algorithm currently pulls the whole LD matrix into memory. We could improve this by partitioning by contig, as suggested in https://github.com/pystatgen/sgkit/pull/561#pullrequestreview-659092266.

[2021-05-17 11:28] tomwhite commented on #360
Worth also documenting the limitation in #405 until/unless it's fixed.

[2021-05-17 12:22] #448 closed

[2021-05-17 15:53] tomwhite commented on #31
Fixed in #561.

[2021-05-17 15:53] #31 closed

[2021-05-17 16:29] tomwhite opened #570 "Add documentation for sample cohorts"
Also add `sample_cohort` as a variable.

Reported here: https://github.com/pystatgen/sgkit/issues/566#issue-892815600

[2021-05-17 16:33] tomwhite commented on #566
I've opened #570 to add documentation about cohorts.

[2021-05-17 16:41] #566 closed

[2021-05-18 02:15] timothymillar opened #571 "Support mixed ploidy in display_genotypes"
Currently a lower ploidy sample appears to have missing alleles i.e. -2 is treated as -1.
The the calls `[[0, 0, 1, 1], [0, 1, -2, -2], [0, 0, 1, -1]]` would ideally be displayed as `0/0/1/1    0/1    0/0/1/.` in a mixed-ploidy dataset.

[2021-05-18 02:36] timothymillar opened #572 "Display call allele counts"
It would be nice display a `call_allele_count` array in a more intuitive manner, similar to the `display_genotypes` function (#37).
Scikit-allel does this nicely with its `GenotypeAlleleCountsArray` class which displays ordered counts seperated by `:`.
For example the `call_allele_count` array
[code]
would be displayed something like
[code]

[2021-05-18 10:18] tomwhite opened #575 "PC relate validation suite is failing"
The [error](https://github.com/pystatgen/sgkit/runs/2606052594?check_suite_focus=true) is

[code]

[2021-05-18 10:31] tomwhite commented on #34
The `variant_allele` variable is documented to have dtype kind `S` or `O` here: https://pystatgen.github.io/sgkit/latest/generated/sgkit.variables.variant_allele_spec.html. So I think we can close this.

[2021-05-18 10:37] ravwojdyla commented on #575
Oh interesting, looks like the 3.11 repository is gone? I can look into that.

[2021-05-18 13:32] #284 closed

[2021-05-18 14:03] tomwhite opened #576 "Automatically check that all variables are on API page"
Add a check like the one mentioned in https://github.com/pystatgen/sgkit/pull/573#issue-646597266 to the docs GitHub workflow.

[2021-05-18 15:22] #295 closed

[2021-05-18 15:31] tomwhite commented on #310
Is it worth trying this again @aktech? The dependencies should have Python 3.9 artifacts by now.

[2021-05-18 15:31] #34 closed

[2021-05-19 10:00] aktech commented on #310
Yep, I have just started a run: https://github.com/aktech/sgkit/actions/runs/856418967

[2021-05-19 10:51] aktech opened #578 "Nightly conda-forge builds?"
We recently added sgkit to [conda-forge](https://anaconda.org/conda-forge/sgkit), which is great, but it will be great if we could upload nightly builds, just like Dask, Numba to be able to install the latest version as a user.

[2021-05-19 13:05] hammer commented on #533
Submitted! Whew.

[2021-05-19 13:05] #533 closed

[2021-05-19 13:29] hammer commented on #310
Should we also add 3.9 support to the docs before closing? Cf. https://pystatgen.github.io/sgkit/latest/getting_started.html#installation

[2021-05-19 13:40] tomwhite commented on #310
I've got a change to make for conda packaging, so I can add it then.

[2021-05-23 00:13] hammer opened #579 "Remove mention of CuPy in docs"
We have two mentions of CuPy in our docs but to the best of my knowledge we don't use CuPy yet. Should we remove those mentions until we make use of CuPy?

[2021-05-24 15:49] tomwhite commented on #341
I'm wondering about having separate windowing functions for windowing by index, position in genome, etc. So rather than have a single `window` function that handles all options, we could have multiple functions that only take the arguments that apply to that function.

For example, to window by index (number of variants - the current `window` function), the function might be:

[code]

(Note that w

[2021-05-24 16:41] eric-czech commented on #341
👍

Makes the interpretation of the parameters much more clear and extends more naturally.

[2021-05-24 18:03] hammer commented on #341
I also like the separate functions

[2021-05-25 12:06] tomwhite commented on #340
Currently, window variables (`window_{contig,start,stop}`) are numpy arrays, which as Eric points out in the comment do not scale well to 100M variants. I think there are two things to do:
1. Make the windowing functions construct Dask arrays for the window variables so that they can be computed more efficiently.
2. Make window computations (`window_statistic` and `ld_matrix`) use Dask arrays.

Fo

[2021-05-25 16:23] tomwhite opened #583 "Upstream failing due to Xarray dims ordering change"
Xarray no longer sorts dimension by name (https://github.com/pydata/xarray/pull/4753). This affects the display representation, which is causing some upstream tests to fail. Example [failure](https://github.com/pystatgen/sgkit/runs/2661210916?check_suite_focus=true):

[code]

I'm not sure how to fix this so that the tests work against both Xarray 0.18.2 and the main branch.

The `test_gwas_linear_

[2021-05-25 20:03] hammer commented on #583
From https://github.com/pydata/xarray/pull/4753:

Could we use `repr()` in the tests as a medium term fix?

[2021-05-27 02:52] timothymillar opened #584 "Use of int8 for variant_contig results in integer overflow with fragmented reference genomes"
Many (non human) reference genomes contain 1000s of contigs that have not been assembled into full chromosomes.
Currently the `variant_contig` array  is hard coded as int8 ([line](https://github.com/pystatgen/sgkit/blob/main/sgkit/io/vcf/vcf_reader.py#L267)) which results in integer overflow making it impossible to join variants to their contig.

[2021-05-27 03:23] hammer opened #585 "Ancestral vs. derived allele"
Motivated by @hyanwong at https://github.com/pystatgen/sgkit/discussions/580

Some popgen methods need to know which allele at each site is the ancestral allele (cf. https://biology.stackexchange.com/questions/19159/ancestral-allele-explanation).

We should augment our data model to store allele state.

A verbose approach would be to add a Boolean data variable named `variant_allele_ancestral_stat

[2021-05-27 10:43] eric-czech commented on #585
I'd also suggest `variant_allele_ancestral_index` as a 1D `(variants,)` array since that would be a very convenient form for fancy indexing into `variant_alleles` and would also be directly usable for computations on `call_genotype` (e.g. ancestral allele counts), and it eschews the ragged alleles problem assuming there is only ever 1 ancestral allele.

[2021-05-27 10:46] hyanwong commented on #585
I think you can safely assume that for a given dataset, there is only ever 1 ancestral allele for a site.

[2021-05-27 11:18] #575 closed

[2021-05-27 11:51] tomwhite commented on #583
I think that comment is out of date, since the repr was changed in the end.

[2021-05-27 13:37] hammer commented on #584
We should probably revisit how we're parsing and representing contig metadata more generally, as noted in https://github.com/pystatgen/sgkit/issues/464 as well.

@timothymillar do you have any example VCFs to share that overflow the `int8` limit? It's trivial to manually construct such a VCF but I generally prefer to have real world data in our tests.

[2021-05-27 13:56] hammer commented on #583
🤔 this reminds me of discussions around https://github.com/pystatgen/sgkit/issues/43. I suppose we might want some kind of schema-aware comparison approach within the library?

[2021-05-27 15:24] hammer commented on #583
@eric-czech suggests using http://xarray.pydata.org/en/stable/generated/xarray.Dataset.transpose.html to enforce dimension order.

[2021-05-31 05:39] timothymillar opened #589 "Example tetraploid and pseudo mixed-ploidy VCFs"
I've finally had time to put together an example tetraploid and pseudo mixed-ploidy VCF example with some previously published potato data: https://github.com/pfrnz/Example-Tetraploid-Potato-VCF-PRJNA414303.

Just make note of the issue in the readme regarding freebayes representation of null calls as haploid calls.
This is only an issue in sgkit if the VCF has haploid null calls and the dataset i

[2021-05-31 05:43] timothymillar commented on #584
@hammer agreed, real data always hits more edge cases. I'll look into an example VCF for this.

For reference I ran into this issue when using the [Red5](https://plants.ensembl.org/Actinidia_chinensis/Info/Index) kiwifruit genome.

[2021-05-31 10:14] tomwhite opened #590 "Main build failing in bgen after upgrade to Dask 2021.5.1"
See e.g. https://github.com/pystatgen/sgkit/runs/2706847930?check_suite_focus=true

[2021-05-31 10:23] tomwhite commented on #590
It looks like we missed catching this failure earlier because the upstream builds were failing for another reason (#583).

[2021-05-31 16:16] tomwhite commented on #583
I don't think transpose is what we want since it transposes the underlying arrays, not the order the dimensions are listed in the dataset/

[2021-06-01 09:35] tomwhite commented on #584
We use int16 for bgen and PLINK, so we should probably just change VCF to be the same.

[2021-06-01 18:01] jeromekelleher commented on #571
It's not obvious to me that that the VCF encoding is the right approach here - e.g., people might read your example above as implying the alleles are unphased. Isn't it better to be explicit about what our data encoding is? (I agree it's not obvious immediately what -2 and -1 mean, though)

[2021-06-01 18:10] jeromekelleher commented on #584
We should make it an option to specify the dtype for ``variant_contig`` probably - even ``int16`` will overflow sometimes. There are lots of VCFs out there with huge numbers of contigs.

Although, I guess this is the sort of thing we should be able to query the IO library for ("how many contigs are there" should be efficiently computable on any indexed VCF), so we should be able to automatically d

[2021-06-01 18:21] jeromekelleher commented on #578
I'm reluctant to do this @aktech as it's a fair bit of complexity on the conda packaging side. Sophisticated users (those we'd want using nightly builds) can install the latest using pip from git, right?

[2021-06-01 18:27] jeromekelleher commented on #585
I'd vote for a variant of @eric-czech's suggestion above: ``variant_allele_ancestral_state`` which is an index into the ``variant_alleles`` array. There's +/- for explicitly adding the ``_index`` suffix, but since users will need to be comfortable with working with indexes in the first place for ``call_genotype``, I think we can leave it out.

[2021-06-01 19:03] aktech commented on #578
OK, makes sense.

Yep, that's what I do at the moment.

[2021-06-01 23:39] timothymillar commented on #571
I'm not quite following this. Do you mean that within a single sample in which copy number is variable across a single chromosome, the -2 values of a call could be part of the phasing? I agree that we could be a bit more explicit than the VCF encoding.

The issue I'm facing is that mixed-ploidy/CNV genotype calls in a VCF that are encoded as as:
[code]

are being displayed ambiguously by `sg.displ

[2021-06-02 04:49] #578 closed

[2021-06-02 15:06] jeromekelleher commented on #571
Sorry I was being unclear @timothymillar - I just meant that people might think there's phase information encoded in there as well if we're following the VCF way of doing things.

Maybe we could use some unicode box drawing characters to help display things more effectively? This is a "human only" encoding, so maybe we could do something a bit nicer if we're not restricted to ASCII?

[2021-06-02 18:04] jeromekelleher commented on #341
Good idea, I like it. Makes the semantics much clearer.

[2021-06-02 18:08] jeromekelleher commented on #340
It's not obvious to me that there really is a scaling issue here - have we done some experiments to see what sort of time these windowing functions take? Sounds like the dask versions are doing to be fairly tricky so might be worth doing a few quick checks before embarking on it?

[2021-06-02 18:54] eric-czech opened #596 "Add function to compute regenie association statistics"
The current regenie implementation produces LOCO predictions with the shape: `(contigs, samples, outcomes)`.  It isn't immediately obvious in the documentation how to use this then since applying `gwas_linear_regression` to the results requires pairing variants to run an association test on with the appropriate subarray of shape `(samples, outcomes)` (i.e. for the held-out contig).

Thanks for poi

[2021-06-02 22:35] timothymillar commented on #571
That could be great for users who aren't familiar with VCF. I think there will still be some use cases for (or users who prefer) displaying genotypes "like a VCF".

Maybe `sg.display_genotypes` could have a format argument with options in `{"pretty", "VCF"}`, or is that needlessly complicated?

[2021-06-03 11:30] eric-czech opened #597 "Unify dimension names in GWAS methods"
The `regenie` function currently calls the number of phenotypes dimension "outcomes" while `gwas_linear_regression` uses the name "traits".  I think "traits" is more aligned with our naming style since it has a connotation with greater specificity to the domain without being excessively narrow.

[2021-06-03 11:38] eric-czech commented on #596
This is effectively what the function needs to do in order to rebuild a dataset with association test statistics computed on a per-contig basis (cc: @EpiSlim):

[code]

There are two pretty big warts here:

1. We need a function to count alternate alleles

[2021-06-03 16:15] jeromekelleher commented on #571
That's a good idea I think - we can try to emulate VCF for those that are familiar with it, but default to something more human-readable without the legacy baggage. (Or do you think we should default to VCF?)

[2021-06-03 16:16] jeromekelleher commented on #597
+1 for "traits"

[2021-06-03 21:35] timothymillar commented on #571
Defaulting to the most human readable option makes sense. I'm interested to see what that option would look like!

[2021-06-04 07:54] #590 closed

[2021-06-04 08:06] #583 closed

[2021-06-04 08:16] tomwhite opened #598 "Remove ignored doctests below once Xarray>0.18.2 is released"
See #592

[2021-06-07 09:42] #570 closed

[2021-06-07 09:57] tomwhite commented on #554
Fixed in #587

[2021-06-07 09:57] #554 closed

[2021-06-07 10:06] #360 closed

[2021-06-07 16:04] #310 closed

[2021-06-07 16:04] #518 closed

[2021-06-07 16:56] tomwhite commented on #286
Fixed in #360 (and previous issues for the implementation)

[2021-06-07 16:56] #286 closed

[2021-06-08 10:07] tomwhite opened #600 "Dask "Ask a Maintainer" office hours for life sciences"
From Genevieve Buckley:

The first one is tomorrow (which unfortunately I can't go to due to a clash). There's a calendar on https://docs.dask.org/en/latest/support.html with a link to the event if you are interested in attending.

[2021-06-08 10:44] hammer commented on #600
Okay if I move this to a discussion topic? We can add replies to that topic if we want to remind ourselves to send questions to them.

[2021-06-08 10:45] hammer commented on #600
Moved to https://github.com/pystatgen/sgkit/discussions/601

[2021-06-08 10:45] #600 closed

[2021-06-08 11:02] tomwhite opened #602 "Example popgen notebook"
It would be good to have something that demonstrates a popgen workflow.

I converted one of @alimanfoo's [MalariaGEN analyses](https://github.com/alimanfoo/shiny-train) to use sgkit a while back (#232). The problem with converting that to JupyterBook (#500) and including it as a part of the doc build is that the dataset is ~15GB in size, and the whole thing takes a while to run. So something small

[2021-06-08 20:04] hammer commented on #463
@tomwhite you recommended

`pip install git+https://github.com/pystatgen/sgkit#egg=sgkit`

to pick up the latest commits. When I install this way, I get an `ImportError` with the message

[code]

I've tried a few different ways to resolve these import errors and a manual installation of `cyvcf2` and `yarl` does the trick. Is there a one liner that will install everything from git without requiring

[2021-06-08 20:15] hammer commented on #463
A couple other notes from working through the latest version of the notebook with the latest version of the code.

1. `ds = sg.hardy_weinberg_test(ds)` generates a pretty scary `MergeWarning`. Do we want to suppress that somehow?
1. In `manhattan_plot` and `qq_plot`:  `variant_p_value` --> `variant_linreg_p_value`

[2021-06-08 20:21] hammer commented on #463
@tomwhite okay good deal, it's really unfortunate there's now way to install from git and pick up the dependencies, and it's also unfortunate that we have such a clunky command to read from VCF to Zarr, but we can address those issues at another time!

Through some miracle of git I managed to grab the `gwas-tutorial` from your branch and get it going on my fork over at https://github.com/hammer/sg

[2021-06-14 09:18] #563 closed

[2021-06-15 09:26] tomwhite opened #606 "Deploy distribution artifacts to test PyPi on a tagged commit"
Add a GitHub action that builds the distribution artifacts and deploys to test PyPi whenever a tagged commit is made.

References:
* https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/
* https://github.com/pypa/gh-action-pypi-publish
* https://github.com/tskit-dev/tskit/blob/main/.github/workflows/wheels.yml

[2021-06-15 09:27] tomwhite opened #607 "Deploy distribution artifacts to PyPi on GH release"
See
* https://tskit.dev/tskit/docs/stable/development.html#python
* https://github.com/tskit-dev/tskit/blob/main/.github/workflows/wheels.yml

It would be nice if we could also automatically publish the docs to GH pages too.

[2021-06-15 09:31] tomwhite opened #608 "Release 0.3.0"
This is a coordinating issue for the release.

Issues for this release are listed here: https://github.com/pystatgen/sgkit/milestone/1

The artifacts for the previous release (#495) were built manually. For this release I would like to build and deploy artifacts using GH actions, see #606 and #607.

[2021-06-15 09:36] tomwhite commented on #608
In [last week's meeting](https://github.com/pystatgen/sgkit/discussions/604) we briefly discussed whether we should have release candidates or not. There don't seem to be many Python projects that do that ([SciPy](https://docs.scipy.org/doc/scipy/reference/dev/core-dev/index.html#proposing-a-release-schedule) is an exception).

If we publish artifacts to test PyPi first (#606), then there is an op

[2021-06-15 09:38] tomwhite commented on #608
I'm not sure how publishing Conda packages fits in - does it happen after the release is in PyPi @jeromekelleher? How is it triggered?

[2021-06-15 12:10] eric-czech opened #609 "Consider adding mean imputation function"
For association testing and PCA (at least), it may be useful to have a function that imputes dosages/allele counts.  With floating point values (i.e. from bgen), this can be very simple as a user, e.g. ```ds.call_genotype_probability.fillna(ds.call_genotype_probability.mean(dim="samples"))```.  With alternate allele counts having a sentinel integer, it is a little more complicated.  The best way t

[2021-06-15 15:25] jeromekelleher commented on #608
The conda-forge bots detect a release @tomwhite, and open a PR to the feedstock repo. One of the maintainers then has a look over and merges this if it looks OK, and the conda packages are subsequently built and deployed to Anaconda.

[2021-06-15 15:41] tomwhite commented on #608
Thanks for the explanation @jeromekelleher.

[2021-06-17 12:37] ravwojdyla opened #611 "GPU CI build not working"
#567 was merged, but the [GPU build failed](https://github.com/pystatgen/sgkit/actions/runs/946398744):

No runner matching the specified labels was found: self-hosted, gpu

@aktech what kind of observability does cirun support? Any pointers?

[2021-06-17 12:39] ravwojdyla commented on #512
#567 was merged, closing this. Note that it requires a follow up given #611.

[2021-06-17 12:39] #512 closed

[2021-06-17 13:29] aktech commented on #611
I just looked at the sgkit's GCP Logs, the error was: `"message": "ZONE_RESOURCE_POOL_EXHAUSTED"`

Which means the zone does not have enough resources (GPUs) available to fulfill the request.

More here: https://cloud.google.com/compute/docs/troubleshooting/troubleshooting-vm-creation#resource_availability

I am working on making it more resilient so that one can specify multiple regions to search

[2021-06-17 13:45] aktech commented on #611
So, as a follow up, can you re trigger the workflow manually to see if there is enough resources now?

(Also, note that if the build gets queued for too long like > 10 min, then also there are so runners to run the workflow on for the same reason mentioned above.)

[2021-06-17 15:18] ravwojdyla commented on #611
@aktech retriggered here: https://github.com/pystatgen/sgkit/actions/runs/946398744

[2021-06-17 15:29] aktech opened #612 "GPU Tests failure"
It seems the GPU tests are failing at the moment:

https://github.com/pystatgen/sgkit/runs/2850396023?check_suite_focus=true

[2021-06-17 15:30] aktech commented on #611
Thanks @ravwojdyla The GPU tests ran now, they fail at the moment. I have created a separate issue for the same: https://github.com/pystatgen/sgkit/issues/612

[2021-06-17 15:31] ravwojdyla commented on #611
@aktech ok, thanks, closing this. For future, if the GPU CI doesn't run, we need to manually retrigger it, right?

[2021-06-17 15:31] #611 closed

[2021-06-17 15:38] aktech commented on #611
Yep

[2021-06-22 15:38] hammer commented on #440
Another entry in the sumstats library and formats space:

- Paper: [MungeSumstats: A Bioconductor package for the standardisation and quality control of many GWAS summary statistics](https://www.biorxiv.org/content/10.1101/2021.06.21.449239v1) (2021)
- Docs: https://neurogenomics.github.io/MungeSumstats/
- Library of sumstats to download: https://github.com/mikegloudemans/gwas-download
- Analysis

[2021-06-28 08:51] #606 closed

[2021-06-28 09:25] tomwhite commented on #213
Looks like mypy needs `int` rather than `Number` now: https://github.com/pydata/xarray/commit/a73628317acd73cb55f03ad036708d493f4a8b54

[2021-06-28 11:11] tomwhite opened #615 "Use consolidated writes/reads by default"
Upstream is failing since https://github.com/pydata/xarray/pull/5252 went in, which enables consolidated writes/reads by default.

See e.g. https://github.com/pystatgen/sgkit/runs/2927778139?check_suite_focus=true

[code]

[2021-07-05 08:55] tomwhite opened #617 "CI tests are failing with "ResourceWarning: unclosed scandir iterator""
`test_vcfzarr_to_zarr` is failing with fairly high frequency on the main build. E.g. https://github.com/pystatgen/sgkit/runs/2981156269?check_suite_focus=true

[code]

[2021-07-05 08:58] tomwhite opened #618 "Make VCF genotypes optional"
Currently it's not possible to parse VCF files that don't have a GT field.

[2021-07-05 09:36] tomwhite commented on #617
Opened https://github.com/intake/filesystem_spec/issues/692

[2021-07-06 07:42] tomwhite commented on #478
Some previous work here: #432

[2021-07-07 17:26] gagank1 opened #622 "PLINK data missing for test_regenie datasets"
The README in validation says the datasets used in test_regenie were generated via Hail and stored as PLINK files. We need these original PLINK files to run Glow and validate Regenie results for LOCO association testing. @EpiSlim

[2021-07-07 17:54] gagank1 opened #623 "CSV file descriptions for test_regenie results"
The CSV files in sgkit/tests/test_regenie/result could benefit from file descriptions as some of the column names are not clear. @EpiSlim

[2021-07-07 18:54] eric-czech commented on #622
Hey @gagank1, that data can be generated by following the instructions at https://github.com/pystatgen/sgkit/tree/main/validation/gwas/docker and then https://github.com/pystatgen/sgkit/tree/main/validation/gwas/method/regenie.

It generates these files: [regenie_simulations.zip](https://github.com/pystatgen/sgkit/files/6779496/regenie_simulations.zip)

[2021-07-07 19:04] eric-czech commented on #623
Hey @gagank1, the `gwas.csv` fields have these interpretations:

- `names`: The variant ID
- `label`: A simulated phenotype
- `beta`/`standardError`/`pValues`: Results from running glow linear regression after running glow's regenie transformation

Does that clear up any confusion?

[2021-07-07 19:11] eric-czech opened #624 "Regenie validation script is broken"
On `invoked build`, an error related to numpy typing is currently thrown when running the Glow WGR functions:

[code]

[2021-07-08 13:39] #618 closed

[2021-07-08 14:44] #341 closed

[2021-07-08 15:28] jeromekelleher opened #627 "Add function to convert variant dataset to biallelic"
A very common pattern in genetic analysis is to assume that there is exactly two alleles at each variant site. Datasets are then forced to be biallelic by conversion. I guess there's a few ways to do this:

1. Throw away any sites that are not biallelic (probably no point in us implementing this because it's pretty simple to do?)
2. Convert the dataset so that there are two alleles. Usually we kee

[2021-07-08 16:14] #493 closed

[2021-07-08 16:55] eric-czech commented on #627
I think of option 3 as being the preferable solution for sure.  I say that because, in human cohorts at least, multiallelic sites used to be more like 2% of all sites (so ignoring them was more common AFAICT) but are more like 10% as sample sizes have grown to 10k+, and some studies have shown disease associations with them \[[1](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7288273/)\].  Structura

[2021-07-08 17:34] #617 closed

[2021-07-09 16:04] gagank1 commented on #624
This issue was fixed in Glow v1.0.1: [projectglow/glow/#363](https://github.com/projectglow/glow/issues/363)

[2021-07-09 16:09] eric-czech commented on #624
Nice, thanks @gagank1!  Currently glow 0.5.0 is used for generating this testing data so hopefully the upgrade isn't too problematic.

[2021-07-12 14:48] #615 closed

[2021-07-13 17:57] jeromekelleher opened #630 "Update setup.py so that GitHub dependency graph works properly"
See [here](https://twitter.com/jeromekelleher/status/1415002440127111179) for more info

Just need to add ``name="sgkit"`` into setup.py, otherwise GitHub will think we have zero dependent projects.

[2021-07-14 11:22] tomwhite opened #631 "pre-commit mypy check is failing"
Not sure what changed (no new version of mypy or numpy in the last 3 weeks), but we now have lots of failures:

(from https://github.com/pystatgen/sgkit/runs/3062225915?check_suite_focus=true)

[code]

[2021-07-14 12:00] tomwhite commented on #631
It looks like this is caused by numpy 1.21.0, since I don't get any errors if I hardcode the version to 1.20.3 in .pre-commit-config.yaml.

[2021-07-15 08:03] #631 closed

[2021-07-15 08:16] #630 closed

[2021-07-19 09:36] tomwhite opened #634 "Investigate ragged arrays to represent alleles"
Alleles are a challenge to represent efficiently in fixed-length arrays. There are a couple of problems:
1. the number of alleles is not known until the whole VCF file has been processed
2. there can be a very wide variation in the number of alt alleles (most variants will have one, but a few could have thousands

Both these problems could be solved by using ragged arrays.

Zarr has support for [r

[2021-07-19 09:57] jeromekelleher commented on #634
Tricky one. I guess an option we should consider also is a home-grown ragged array encoding for alleles (although it would be pretty icky to expose users to this). Could we (in principle) do an encoding ourselves and expose the ``alleles`` dataset variable as a numpy object array (or similar)?

[2021-07-19 10:04] tomwhite commented on #634
Yes, I think it would be worth trying this out to see if it's possible, and how it works in Xarray.

[2021-07-19 10:23] jeromekelleher commented on #634
FWIW we've been doing this in tskit like [this](https://tskit.dev/tskit/docs/stable/data-model.html#encoding-ragged-columns). I think the underlying encoding (a data and offset array) is basically the same as what Arrow uses, and it works well in practise.

[2021-07-21 08:41] tomwhite commented on #319
This and #629 are the only issues remaining for the 0.3.0 release. @eric-czech do you think you'll have a chance to look at this, or should we go ahead with the release without it?

[2021-07-21 09:25] eric-czech commented on #319
I don't think I'll be able to get to it soon, unfortunately.  They aren't critical changes so +1 to doing the release without this.

[2021-07-22 07:52] timothymillar opened #635 "Add IBS based kinship estimator of Weir and Goudet (2017)"
I have been using the kinship estimator developed by [Weir and Goudet (2017)](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5560808/) ($\hat{\beta}_{jj'}^i$ in table 3) and have found it very accurate and convenient. This method is based on IBS probabilities and is particularly accurate when samples are closely related, e.g. samples from a single pedigree (see [Goudet, Kay and Weir 2018](https://ww

[2021-07-22 09:49] eric-czech commented on #635
Nice!  Do you often need IBD estimates as well?  A method to compute either with some invariance to population structure would be awesome.  We added [pc_relate](https://pubmed.ncbi.nlm.nih.gov/26748516/) a while back, which could produce IBD sharing probabilities, but it requires PCs for population correction and those PCs ideally require sample independence (so we have a chicken and egg scenario)

[2021-07-22 12:21] LiangdeLI opened #636 "Data reading time in benchmark"
Should data reading time be included in benchmark of sgkit and hail?

I have done some benchmark of allele frequency, (variant_stats() for sgkit, --freq for plink, variant_qc() for hail), leading to some thoughts on this question:

1.Because each plink command line operates on data directly (i.e. --file data_file), it seems fair to include sgkit's and hail's data reading time as well to compare.
2

[2021-07-22 14:08] tomwhite commented on #636
I agree with this.

It doesn't exist, but we could add `read_vcf` (by analogy with `read_bgen` and `read_plink`), which did the conversion to Zarr, then opened as a dataset.

[2021-07-22 18:39] jeromekelleher commented on #635
This sounds like a great idea to me @timothymillar!

[2021-07-22 19:10] ravwojdyla commented on #634
FYI @tomwhite. Following today's "standup", "open sourcing" some of our internal comments about awkward array, these are likely outdated (they were made about a year ago) and might not fully apply in the sgkit context. It might be still useful tho.

From @eric-czech:

There aren't any docs for [awkward-1.0](https://github.com/scikit-hep/awkward-1.0) yet, just empty stubs at https://awkward-array.o

[2021-07-22 21:49] timothymillar commented on #635
@eric-czech currently I'm using the W & G method to identify samples whose relationships don't match those expected based on pedigree (due to miss-sampling, rogue pollen etc.). This doesn't require a real IBD value, just something proportional to it. The W & G method calculates kinship relative to to the current (i.e. sampled) population which they refer to as "within population kinship" (analogou

[2021-07-23 09:17] eric-czech commented on #635
Thanks @timothymillar, good to know and still sounds promising (I think).  I only know the KING methods well enough to know they're not particularly easy to implement and are very common as early stage QC filters in human genetics pipelines.

Perhaps it will make sense at some later point to implement eq. 11 based on your IBS code and compare to KING on the same data.

[2021-07-24 03:46] timothymillar opened #638 "Type error in diversity and Tajimas_D with xarray 0.19.0"
xarray 0.19.0 raises a type error when using a DataArray object to construct a variable: https://github.com/pydata/xarray/pull/5630 [(line)](https://github.com/pydata/xarray/pull/5630/files#diff-43c76e9be8425b5b6897dcecab4b240c32580447455c0c8c0b9b7fd84ce8a15dL119).
This is affecting sgkits `diversity` and `Tajimas_D` methods (tests failing).

[2021-07-26 02:47] timothymillar opened #640 "Use of int8 for call_genotype results in integer overflow with complex variants"
I'm working with some microhaplotype variant calls in which the number of the alleles can be >300 (likely due to poor quality calls at some loci). It would be ideal if the `call_genotype` dtype was configurable and/or automatically set based on the `max_alt_alleles` parameter. Similar discussion in #584.

[2021-07-26 09:11] #638 closed

[2021-07-26 09:39] jeromekelleher commented on #640
+1 - this is definitely an issue. Setting based on max_alt_alleles is good, and I think that seals the deal on mapping any alleles we can't represent to missing data.

[2021-07-26 15:11] tomwhite opened #641 "Add compressor option to vcf_to_zarr"
Like the one in [bgen_to_zarr](https://pystatgen.github.io/sgkit/latest/generated/sgkit.io.bgen.bgen_to_zarr.html).

[2021-07-26 15:14] tomwhite opened #642 "Use PackBits filter for boolean fields for Zarr storage"
When writing Zarr files we should enable the [PackBits](https://numcodecs.readthedocs.io/en/stable/packbits.html) filter for boolean fields.

For some 1000 genomes data I saw `call_genotype_phased` go from 2.8 MB to 212 K, after enabling it.

[2021-07-26 15:23] jeromekelleher commented on #642
Nice! I guess we should provide fairly open access to the Zarr compressors and filters too - it's good to be able to fiddle with these for specific applications.

[2021-07-26 15:27] tomwhite opened #643 "Use variable-length strings for storing alleles in Zarr"
Currently we use fixed-length strings for storing alleles, but this is inefficient since the length is the size of the longest allele in the whole dataset.

For example, in some 1000 genomes data (chr22) I noticed that the longest allele is 414 base pairs, which means the data type is "S414" - unnecessarily large for the vast majority of variants. This meant that the `variant_allele` data took up

[2021-07-26 15:30] tomwhite commented on #640
+1

BTW I just opened #643, which is tangentially related. @timothymillar I wonder if you see a few very long alleles in your data?

[2021-07-26 21:19] timothymillar commented on #640
I'm currently working with alleles with lengths 120bp. These are fixed sized "chunks" across the genome (targeted sequencing) so fixed length strings are suitable. But I think we'll use more variable allele lengths in future as these chunks need some tuning.
We also use freebayes quite regularly which can produce highly variable allele lengths. However, most of the data I'm working with is targete

[2021-07-26 21:35] timothymillar commented on #643
@tomwhite the freebayes variant caller is a good example for producing a range of allele lengths. The VCFs avialable [here](https://github.com/pfrnz/Example-Tetraploid-Potato-VCF-PRJNA414303) (see releases) were called with freebayes and have allele lengths of up to ~ 60bp. Note that these were called with `--haplotype-length -1` in an attempt to minimize variant length.

[2021-07-27 08:22] tomwhite commented on #640
Good to know - thanks.

[2021-07-27 11:30] tomwhite commented on #643
In the case of writing Zarr sequentially from VCF, we already do this (it can be enforced by passing `target_part_size=None` to `vcf_to_zarr`). The parallel case concatenates a collection of Zarr files, and as a byproduct of that the variable-length strings are converted to fixed-length strings. We should change that.

[2021-07-28 14:35] tomwhite commented on #64
Following the discussion in last week's call (#637), I put together some code to convert from tskit TreeSequences to Zarr files following sgkit conventions: https://github.com/pystatgen/sgkit/compare/main...tomwhite:ts_to_zarr. The code is just in the tests directory for the moment.

This should be useful for the work on scaling VCF, although for the moment it only works in sequential mode. It sho

[2021-07-28 16:20] jeromekelleher commented on #64
Thanks a million for this @tomwhite, it's super helpful. I'll take a good look at the code tomorrow.

In the short term, I think the simplest thing is for me to create a standalone "ga4gh-variant-sim" repo or something, where we just put the code to do this. We'll want to add extra fields and stuff that are extrinsic to the tree sequence, so it's as easy just put all the code in one place for now.

[2021-07-28 16:43] tomwhite commented on #64
Sounds good to me.

[2021-07-29 10:02] tomwhite commented on #64
BTW I pushed another commit to https://github.com/pystatgen/sgkit/compare/main...tomwhite:ts_to_zarr for reading genotypes from a TreeSequence in parallel using the approach I sketched out above. It passes tests, but I don't know how well it performs for larger datasets. It's probably worth having both the sequential and parallel versions for the moment.

[2021-07-29 11:45] #641 closed

[2021-07-29 12:45] #487 closed

[2021-07-30 08:19] #463 closed

[2021-07-30 08:20] tomwhite commented on #642
Fixed in #644

[2021-07-30 08:20] #642 closed

[2021-08-01 06:38] #636 closed

[2021-08-02 09:46] tomwhite opened #645 "Can't read remote VCF files over https on Linux"
Tracking issue for https://github.com/brentp/cyvcf2/issues/216

[2021-08-02 10:42] tomwhite commented on #608
I have tagged 0.3.0, and the artifacts are now on [TestPyPi](https://test.pypi.org/project/sgkit/). I've successfully run some manual tests. I will wait a few hours before releasing to main PyPi in case anyone wants to try out the test artifacts themselves.

[2021-08-02 15:26] tomwhite commented on #608
Release instructions (based on #495)

With the latest main branch checked out locally, tag the release:

[code]

This will run some actions, including one that builds wheels and uploads artifacts to [TestPyPI](https://test.pypi.org/project/sgkit/). Once the artifacts have been uploaded, install with the following, and run some manual tests on them (see examples below).

[code]

Once you are happy

[2021-08-02 15:27] tomwhite commented on #608
0.3.0 is now available on [PyPi](https://pypi.org/project/sgkit/), and the documentation is published here: https://pystatgen.github.io/sgkit/0.3.0/

[2021-08-02 15:28] tomwhite commented on #607
This is working.

[2021-08-02 16:17] #608 closed

[2021-08-03 09:57] tomwhite commented on #281
Fixed in #341

[2021-08-03 09:57] #281 closed

[2021-08-03 10:00] #432 closed

[2021-08-03 10:03] tomwhite commented on #500
Fixed in #463

[2021-08-03 10:03] #500 closed

[2021-08-03 16:25] tomwhite opened #646 "Presentation for GA4GH "Future of VCF" meeting"
I'm giving a short presentation about our use of Zarr for storing variant data at the next GA4GH "Future of VCF" meeting (9 August). Here are my draft slides for general interest and if anyone has any feedback:

[VCF and Zarr.pdf](https://github.com/pystatgen/sgkit/files/6925628/VCF.and.Zarr.pdf)

(BTW The benchmarks section will hopefully be updated with some numbers from simulations that @jerome

[2021-08-03 16:41] jeromekelleher commented on #646
Looks great @tomwhite - I'll post a plot here when I get the numbers for the simulations I'm running.

[2021-08-09 15:39] tomwhite commented on #646
Minutes, with linked slides and Jerome's simulations, are here: https://docs.google.com/document/d/1OKFeHJLXoCwWybQHOsVnIG0VDtP-EaAgLUIgFzwQckQ/edit#

[2021-08-09 15:39] #646 closed

[2021-08-12 09:15] timothymillar opened #649 "Method to compute call allele frequencies"
Follow up from https://github.com/pystatgen/sgkit/pull/647#discussion_r686015457.

Add method `call_allele_frequencies` to compute array `call_allele_frequency` with shape (variants, samples, alleles).

Related: could rename method `allele_frequency` to `variant_allele_frequencies` and add to API.

[2021-08-19 15:32] ravwojdyla opened #651 ""Compute" method naming convention"
Some discussion in https://github.com/pystatgen/sgkit/pull/647#discussion_r686015457

As pointed out by @jeromekelleher it's interesting to look at the main [init](https://github.com/pystatgen/sgkit/blob/5d58d09f22f023c866e6b252662f84f83302eb61/sgkit/__init__.py), to see current names. Some current options:
 * `count_` prefix
 * `infer_` prefix
 * use the same name as the variable that the method

[2021-08-19 15:33] #649 closed

[2021-08-20 03:08] timothymillar commented on #651
Just noting that I started using `infer_` for the ploidy methods because `count_` didn't sound correct. I don't think `infer_` is great either, but it's the best verb I could come up with for extracting something that's implicit from the `call_genotype` array.

[2021-08-20 03:20] timothymillar commented on #651
It's also worth pointing out that in many cases in which the method doesn't have a prefix, the calculated variable has `stat_` as a prefix. E.g. `Tajimas_D` returns variable `stat_Tajimas_D`.

[2021-08-20 08:31] jeromekelleher commented on #651
I can see a few possibilities for a general rule that we could apply to everything:

1. call the method to compute a variable the same thing as  the variable
2. call the method to compute a variable ``f"compute_{variable_name}"`` (or some other prefix)

In general, I think we should try to get a point where we can determine the name of a method to compute a variable  from the variable name. It wou

[2021-08-30 09:58] tomwhite opened #654 "Build failing with ImportError: cannot import name 'NDArray' from 'numpy.typing'"
The problem is that the latest numba release (0.54.0) does not support NumPy 1.21, so it installs an earlier version, which doesn't have the `NDArray` type.

Stacktrace:

[code]

from https://github.com/pystatgen/sgkit/runs/3457090105?check_suite_focus=true

[2021-08-30 10:18] tomwhite opened #655 "Support macOS arm64 processors"
I have a new Mac Mini with an Apple M1 chip. It would be good to be able to run (and develop) sgkit on this architecture.

[2021-08-30 11:17] jeromekelleher commented on #427
Closing this as we now have a conda-forge package: https://anaconda.org/conda-forge/sgkit

[2021-08-30 11:17] #427 closed

[2021-08-30 11:19] jeromekelleher commented on #655
I'll be curious to hear what the install experience is like for our dependencies :wink: (See discussion in #518 )

I'd imagine pip install is particularly entertaining?

[2021-08-30 12:42] #654 closed

[2021-08-30 14:49] tomwhite commented on #655
@jeromekelleher you were right about pip! Numpy installs fine, but scipy has a build error (https://github.com/scipy/scipy/issues/13409), and there are no llvmlite wheels yet (needed for numba, https://pypi.org/project/llvmlite/#files). There is progress being made on these issues, but it's not a smooth experience yet.

Things are better for conda. I installed [miniforge](https://github.com/conda-

[2021-08-30 15:29] jeromekelleher commented on #655
Thanks @tomwhite - noble work! I'll try to follow up on the tskit/msprime side of things on conda-forge.

[2021-08-30 15:43] tomwhite commented on #655
Thanks @jeromekelleher

[2021-08-31 08:38] jeromekelleher commented on #655
msprime and tskit should be accounted for now @tomwhite

[2021-08-31 08:43] tomwhite commented on #655
That's great! I just successfully ran the sgkit popgen tests on Mac Mini.

[2021-08-31 13:15] tomwhite commented on #651
One thing worth mentioning is that there is not a 1:1 mapping between method and output variable, since some methods create multiple output variables. E.g. `Garud_H` creates `stat_Garud_h1`, `stat_Garud_h12`, `stat_Garud_h123`, `stat_Garud_h2_h1` variables. (Also some variables are created by multiple methods - I'm thinking of the IO functions here.) So this makes determining the method name a bit

[2021-08-31 14:58] hammer opened #657 "Port GFF3 I/O methods of scikit-allel to sgkit?"
### Discussed in https://github.com/pystatgen/sgkit/discussions/652

<div type='discussions-op-text'>

<sup>Originally posted by **patrick-koenig** August 19, 2021</sup>
Hi sgkit team,

is it planned to port the GFF3 I/O utility methods (especially the gff3_to_dataframe() method) of scikit-allel to sgkit?</div>

[2021-09-07 09:14] tomwhite commented on #643
I'm not sure how to fix this, so I opened https://github.com/pydata/xarray/discussions/5769 with a minimal example.

[2021-09-09 22:44] timothymillar opened #662 "Mean of windowed popgen stats"
Currently the windowed aggregation of statistics in `popgen.py` is hard-coded to use `np.sum` [[1](https://github.com/pystatgen/sgkit/blob/main/sgkit/stats/popgen.py#L108), [2](https://github.com/pystatgen/sgkit/blob/main/sgkit/stats/popgen.py#L275), [3](https://github.com/pystatgen/sgkit/blob/main/sgkit/stats/popgen.py#L566), [4](https://github.com/pystatgen/sgkit/blob/main/sgkit/stats/popgen.py#

[2021-09-10 14:11] pentschev opened #663 "Failing mypy checks"
I'm not entirely sure if I'm doing something wrong now or there has been some change to another package that perhaps broke mypy checks. In https://github.com/pystatgen/sgkit/pull/653 I had no trouble with it, but now even with a clean environment I get the errors below.

<details><summary>pre-commit failure</summary>

[code]

</details>

I created a clean environment with:

[code]

Any ideas if th

[2021-09-10 14:35] ravwojdyla commented on #663
@pentschev did you intentionally skipped `conda activate sgkit` after the 1st step?

[2021-09-10 15:01] pentschev commented on #663
Yes, sorry I didn't copy/paste here, instead I rebuilt the steps and missed the `conda activate sgkit` while writing this issue, but I had `sgkit` activated for the next steps. Also fixed that in the description now.

[2021-09-10 15:08] ravwojdyla commented on #663
@pentschev now looking at your errors, you *probably* got a new numpy installed since we don't pin it in pre-commit: https://github.com/pystatgen/sgkit/blob/8c7e214985dd01955107116d4e9ef6ce91526d8d/.pre-commit-config.yaml#L29, and there probably were some changes to typing in new numpy. Btw, this doesn't fail in CI, because pre-commit caches env/deps.

[2021-09-10 15:32] pentschev commented on #663
That's true. I did try now `"numpy==1.19.5"` and we get a few different errors (no `NDArray` ones), but the others are still there:

<details>

[code]

</details>

As you can see, the majority of them are `# type: ignore[no-untyped-call]` on NumPy calls. I can remove them, but I'm wondering if that won't break on some other version that's currently used by CI. Any ideas what's the correct way to f

[2021-09-10 15:44] ravwojdyla commented on #663
@pentschev we could:
 * fix the mypy errors with latest numpy installed (like your fresh pre-commit env)
 * invalidate CI pre-commit env (see this https://github.com/pystatgen/sgkit/pull/476#issuecomment-790779034)

[2021-09-10 16:05] pentschev commented on #663
I'm not experienced with mypy in general, but it does indeed looks a bit off. What I noticed now is that whenever I changed `numpy==x.xx.x`, pre-commit would install that new NumPy version. When I actually added `numpy>=1.21.2`, there was no package being installed but the number of errors reduced dramatically:

<details>

[code]

</details>

I've added that change and the fix for the 4 errors abo

[2021-09-10 16:14] #663 closed

[2021-09-13 17:44] hammer opened #666 "make html fails without dot"
When I run `make html` in `docs/` on a clean checkout, I get an exception that seems to be caused by the calls to `counts.visualize` in [user_guide.rst](https://github.com/pystatgen/sgkit/blob/main/docs/user_guide.rst) which require the Graphviz `dot` executable.

It's easy to fix locally (on Mac, `brew install graphviz`), but we should either update our "Contributing to documentation" docs or rem

[2021-09-13 18:08] hammer commented on #504
I got a note from Algolia on September 9 saying that they're going to stop crawling our site on September 23 if we don't get search implemented before then.

I took a look at the integration and it's non-trivial. There's some discussion on search, Algolia, Sphinx, and the RTD theme:
- https://github.com/sphinx-doc/sphinx/issues/3812
- https://github.com/executablebooks/jupyter-book/issues/1242
- h

[2021-09-14 09:02] jeromekelleher commented on #666
I guess visualising task graphs is going to be a fairly common thing we want to do in the docs, so probably best to make graphviz a dev requirement?

[2021-09-14 09:08] alxsimon commented on #584
Is there a workaround at the moment? Working with a non model species with > 50000 contigs

[2021-09-14 09:14] jeromekelleher commented on #584
Nice - great to see you pushing the limits here @alxsimon! @tomwhite any thoughts on how we should address this?

[2021-09-14 09:15] tomwhite commented on #666
+1 to making graphviz a dev requirement.

[2021-09-14 09:59] tomwhite commented on #584
I'm afraid I can't think of a workaround for this. The fix that @jeromekelleher sketched out above should be fairly straightforward though, so I'll work on a PR to fix it.

[2021-09-14 10:08] alxsimon commented on #584
Thanks @tomwhite and @jeromekelleher, I'll wait for the upstream fix.

[2021-09-14 10:44] alxsimon commented on #584
Quick and dirty workaround to reimport the contig names from the vcf, in case someone else is looking for a way to do this in the meantime.
[code]

[2021-09-14 11:22] hammer commented on #666
Note that we can make the PyPI package `graphviz` a dev requirement but that does not address this issue.

The issue here is that there does not appear to be a way to add the `dot` executable required by the `graphviz` Python library to our dependencies and thus we will require a manual installation step for users. It seems like we just have to point users to https://graphviz.org/download/#executa

[2021-09-14 11:35] tomwhite commented on #584
Nice!

I've created a fix in #667. Hopefully we can get that merged soon for you to use.

[2021-09-14 12:07] hammer commented on #504
I spent a bit of time yesterday and today figuring this out and I have hit the limits of my frontend knowledge. I filed https://github.com/executablebooks/sphinx-book-theme/issues/394 upstream, so hopefully some kind soul will reply there.

[2021-09-14 12:26] hammer commented on #504
Lol turns out that worked, I just needed to clear some cache. If y'all think a slightly ugly and suboptimal typeahead is a good idea, let's try it out. If not, we can put this on hold for a bit until we get some styling hints.

In addition to styling, I also think we'll want to exclude the index from being crawled and searched, since it generates duplicate entries in the typeahead.

[2021-09-14 12:37] hammer opened #669 "Version our docs"
It will add complexity to our doc build and push but I think we're at the point now where we should support searching different versions of the docs, including the latest version of `main`.

[2021-09-14 12:38] jeromekelleher commented on #666
I guess telling devs they need to install graphviz (e.g. ``apt install graphviz``) is the best solution. It's widely known, so I don't think it'll throw too many people.

[2021-09-14 12:39] hammer commented on #669
If we want to stay on GitHub Pages, there seem to be a few options:
- https://github.com/sphinx-contrib/sphinxcontrib-versioning (abandoned)
- https://github.com/Holzhaus/sphinx-multiversion
- https://github.com/buildthedocs/btd

Otherwise it may be time to look into RTD again, cf. https://docs.readthedocs.io/en/stable/versions.html

[2021-09-14 12:50] hammer commented on #666
Random thought: how are our GH Actions doc builds succeeding? Are we installing `dot` there too?

[2021-09-14 12:50] jeromekelleher commented on #669
We're doing a homegrown docs versioning for tskit and related projects, which just gives (I think) the release and tip of main versions. Code is [here](https://github.com/tskit-dev/msprime/blob/main/.github/workflows/docs.yml).

It's not as good as RTD's setup, but it does most of things you want.

Note there's some ugly string replacement in the [Makefile](https://github.com/tskit-dev/msprime/blo

[2021-09-14 13:00] hammer commented on #504
To customize the crawling process, we can modify https://github.com/algolia/docsearch-configs/blob/master/configs/sgkit.json.

[2021-09-14 13:58] hammer opened #670 "Migrate Discourse posts to GitHub Discussions"
A reminder to myself to do this some time soon so we can shut down Discourse.

- [ ] [Top posts](https://discourse.pystatgen.org/latest?order=views)
- [ ] Update [contributing.rst](https://github.com/pystatgen/sgkit/blob/main/docs/contributing.rst) to point to GitHub Discussions

[2021-09-14 18:18] #584 closed

[2021-09-14 18:44] pentschev opened #675 "Implement GWAS linear regression with LOCO predictions for step 2 of regenie"
Implement GWAS linear regression, using LOCO predictions for step 2 of regenie, with GPU support via CuPy-backed Dask arrays as well.

[2021-09-15 13:31] tomwhite commented on #666
Yes, see e.g. https://github.com/pystatgen/sgkit/blob/e2cfc7aa5de60452f75915ba0537c06c6223e434/.github/workflows/build.yml#L28

[2021-09-15 13:42] tomwhite commented on #669
We already have some of this, but it would be good to improve it and make it more standard. In particular, we don't link to the different versions we have available.

* Versioned docs are at https://pystatgen.github.io/sgkit/<version>/, e.g. https://pystatgen.github.io/sgkit/0.3.0/
  * Built manually by following https://github.com/pystatgen/sgkit/issues/608#issuecomment-891117795
* The latest ver

[2021-09-15 14:13] jeromekelleher commented on #662
This sounds like an excellent idea @timothymillar - do you think ``span_normalise`` would be the appropriate thing here? I guess sometimes we'll want to normalise by the sequence length (number of bases) but also want to normalise by the number of variants.

It's not obvious, is it?

[2021-09-15 15:03] #666 closed

[2021-09-15 21:32] timothymillar commented on #662
I guess the issue with using `span_normalise` to alter the output is that any downstream methods can't determine if and how a variable has been normalised. So it's not safe to reuse the same variable name for what is what is actually a different variable.

One option is to create variable name for each of the normalisation options though that may result in too many variables?

The simpler option w

[2021-09-15 21:46] timothymillar commented on #635
Done in #647

[2021-09-15 21:46] #635 closed

[2021-09-16 07:13] tomwhite opened #678 "Remove `xarray_internal` concat algorithm in VCF reader"
As discussed in #665, `concat_algorithm="xarray_internal"` has scaling issues, and doesn't handle variable-length strings well, so we can drop it to simplify the code.

[2021-09-16 08:40] jeromekelleher commented on #662
I agree, I think the right option is to provide the denominators.

[2021-09-16 11:37] hammer commented on #678
@tomwhite could you link to the upstream issue for the scaling issues here? 🙏

[2021-09-16 12:57] tomwhite commented on #678
The Dask issue is https://github.com/dask/dask/issues/6745. It's now closed, although the problem hasn't been fixed.

[2021-09-16 13:33] tomwhite commented on #678
I should add that fixing this would avoid another problem we have been having with Xarray: https://github.com/pydata/xarray/discussions/5769

[2021-09-16 14:18] hammer commented on #669
@tomwhite ah yes I do recall that now!

I think there are at least 3 tasks here moving forward:
- [ ] Make the most recent release the default docs
- [ ] Allow navigating to other doc versions
- [ ] Update the search typeahead to only search the current version of the docs

[2021-09-19 16:24] #365 closed

[2021-09-20 19:30] hammer opened #680 "Clean up docs"
While working on #504 I noticed a few things that make the docs look cleaner, in my opinion. I'm curious to hear from others.

- [ ] Remove `Indices and tables` section from `index.rst`. The index takes a while to build and seems primarily useful in a book context. We have a search box, that seems more useful to me.
- [ ] Remove the "fullscreen" and "download" links on every page. The browser can

[2021-09-20 19:36] hammer commented on #680
It turns out the right sidebar is not shown on mobile, so the TOC on each page could plausibly stay. I would still recommend we get rid of it, though, as it's quite large and not usually what the user wants.

[2021-09-20 19:43] hammer commented on #669
It looks like a version switcher is coming to the PyData Sphinx theme, from which our theme inherits: https://github.com/pydata/pydata-sphinx-theme/issues/23.

[2021-09-20 19:53] hammer opened #682 "Add a blog"
https://predictablynoisy.com/posts/2020/sphinx-blogging has useful links

[2021-09-20 20:13] hammer commented on #682
There's some additional configuration that we'll need for RSS feeds, etc. but the below works for me.

0. `pip install ablog`
1. Add `"ablog"` to the `extensions` array in `conf.py`.
2. Add `blog` to the end of the `toctree` in `index.rst`.
3. Add `blog.rst`:
[code]
4. Make the `blog` dir and change into it.
5. Add `firstpost.rst`:
[code]

[2021-09-21 13:44] jeromekelleher commented on #682
Any chance we can do this with Markdown? Or is it not worth fiddling with? (I thought we were using MyST Markdown elsewhere in the docs build?)

[2021-09-21 13:51] hammer commented on #682
Some good points on why MyST is not quite ready for prime time at https://github.com/dask/dask-gateway/issues/427

[2021-09-21 13:59] jeromekelleher commented on #682
Yeah, it's not perfect. FWIW we've ended up with a mixture of rST for docstrings and MyST for the larger documentation in msprime. Works well enough, and using MyST felt a lot nicer for writing prose.

[2021-09-21 14:07] hammer commented on #682
Alternatively we can skip the `post` directive and use the `blog_post_pattern` configuration setting that Chris uses for his blog. The directive feels more explicit to me though?

[2021-09-21 16:09] jeromekelleher commented on #682
I don't have an opinion - whatever you think.

[2021-09-22 04:26] timothymillar commented on #285
Just noting that the pca method also hasn't been added to `api.rst` yet.

[2021-09-22 04:40] LiangdeLI opened #683 "Issue of Dask on cluster, indicating 'moving large chunks of data'"
This is the issue I mentioned in Sep 16th's meeting, sorry it takes more time to recreate than expected because of a network issue. Do you have any idea what could be the cause of it?

## This is the core part of python code I run:
[code]

## Cluster settings
I have two machine, run `dask-scheduler` at machine 0, and run `dask-worker tcp://xxx.xxx.xxx.xx:8786` at both machines. Python code is also

[2021-09-22 13:32] hammer opened #684 "PyData APIs notebook"
Given the philosophy of `sgkit` to rely on PyData APIs when possible, I thought it might be nice to have a notebook that spends time introducing and exploring PyData projects using `sgkit` data structures.

[2021-09-22 13:49] hammer opened #685 "Follow up on guvectorize use of fastmath"
I had to get rid of `fastmath=True` param from `guvectorize` due to [this issue](https://github.com/numba/numba/issues/2919) in Numba.

_Originally posted by @aktech in https://github.com/pystatgen/sgkit/issues/306#issuecomment-711432004_

[2021-09-22 13:50] hammer commented on #684
Some thoughts on what to cover, inspired by the GWAS tutorial.
- NumPy basics using `ds.call_genotype.values`
- Xarray [data structures](https://xarray.pydata.org/en/stable/user-guide/data-structures.html): `Dataset` and `DataArray` and especially [coordinates](https://xarray.pydata.org/en/stable/user-guide/data-structures.html#coordinates)
- Xarray operations
  - Creating new data variables, e.g.

[2021-09-22 14:56] jeromekelleher commented on #684
Sounds great - I'd find this useful personally!

[2021-09-22 18:57] LiangdeLI commented on #683
Some thoughs about this bug:
1. Signal 11 was reported, which is segmentation fault, I might not using Dask correcttly in python code. Maybe I need to reorder those three lines mentioned above?
2. 'This is often caused by long-running GIL-holding functions or moving large chunks of data.' might be a hint.

[2021-09-23 14:15] hammer commented on #602
More notebooks to bring over at https://github.com/pystatgen/sgkit/discussions/674#discussioncomment-1343388

[2021-09-28 15:37] hammer commented on #602
I found [ag.allsites.nonN.vcf.gz](https://console.cloud.google.com/storage/browser/_details/vo_agam_release/v3/vcf/ag.allsites.nonN.vcf.gz) which is 718M. Perhaps we could grab a subset of the samples in this file and drive the MalariaGEN analyses from that?

[2021-09-28 15:38] hammer opened #687 "Provide progress bar for `vcf_to_zarr`"
When converting large VCF files with `vcf_to_zarr`, it would be nice to display a progress bar to users.

[2021-09-28 19:05] hammer commented on #687
We could use [nested progress bars](https://github.com/tqdm/tqdm#nested-progress-bars) when running in parallel?

[2021-09-28 19:33] hammer opened #688 "Migrate canine notebook to sgkit"
@eric-czech has a nice collection of notebooks exploring real canine data, including phenotypes, at https://github.com/related-sciences/gwas-analysis/tree/master/notebooks/organism/canine. It might make sense to port these notebooks to `sgkit`.

[2021-09-28 20:29] alimanfoo commented on #602
That file has just the sites, no sample genotypes I'm afraid.

Did you want to start the examples from VCFs? The MalariaGEN Ag3 data release provides one VCF per sample, so you could build a dataset of any number of samples if you wanted, although there is a step required to merge the per-sample VCFs before zarr conversion. A bit more info about VCF downloads [here](https://malariagen.github.io/ve

[2021-09-28 21:11] hammer commented on #688
To get started (will move to PR):

Download data from https://datadryad.org/stash/dataset/doi:10.5061/dryad.266k4.

[cg-hail-eda.ipynb](https://github.com/related-sciences/gwas-analysis/blob/master/notebooks/organism/canine/cg-hail-eda.ipynb)...

[code]

[2021-09-28 21:28] hammer commented on #602
Hey @alimanfoo! Indeed I discovered the lack of samples in that VCF file after a quick inspection.

I saw that you provide the data in Xarray format and serialized as Zarr, but I noticed some small discrepancies between your data model and ours, and thought working from VCF might be less confusing for `sgkit` users.

My current plan is to use your Xarray interface to select a subset of the data an

[2021-09-29 07:47] timothymillar commented on #662
Looking into this it's not completely clear to me what should be reported as the base length of each window. If we use the `window_start` and `window_stop` indices to calculate the base length from `variant_position` then we get the distance between the first and last variants within the window rather than its intended size. This could be misleading, for example if one was aiming to calculate the

[2021-09-29 10:36] jeromekelleher commented on #687
I don't think we should add this to our API since (AFAIK) we can use [Dask's](https://docs.dask.org/en/latest/diagnostics-local.html#progress-bar) methods, and we should be encouraging users to use Dask resources for tracking progress/profiling than trying to wrap this ourselves. See https://github.com/pystatgen/sgkit/issues/48#issuecomment-668576318 for previous discussion of this.

I totally agr

[2021-09-29 11:05] jeromekelleher commented on #662
Hmm, tricky! @tomwhite, any thoughts here?

[2021-09-29 14:46] alimanfoo commented on #602
No problem. Out of interest, were there any differences between the xarray dataset returned from our `snp_calls()` API method and the sgkit model? If so would be good to know, that method is intended to be a bridge to using sgkit on our data.

You could start with a single contig - 3L is probably good as smallest autosomal contig - and you could also choose a single sample set - e.g., AG1000G-BF-B

[2021-09-30 14:57] hammer commented on #683
Hey @LiangdeLI are you able to share `output.zarr`?

[2021-09-30 16:04] #504 closed

[2021-09-30 16:11] LiangdeLI opened #690 "Benchmark code debug for allele frequency and hwe on single node"
Hi, as we talked about in the meeting, the benchmark result is just a shock to us. Could you help have a look what might be wrong in the pipeline? Including the data transform and experiment pipeline.

The code is at: https://github.com/LiangdeLI/benchmark_public

I will explain each one and its usage shortly by comments in this Issue post.

[2021-09-30 16:16] LiangdeLI commented on #690
1. Data preparation.

I downloaded the 1000 Genome data from the source and used chromosomes 1 to 22. So each one is in .vcf.bgz format.

Then I used bcftools to concatenate and index them into 1 file:
[code]

And transform them into the default format of all three tools.
[code]

[2021-09-30 16:20] LiangdeLI commented on #690
## 2. Benchmark pipeline
Then benchmark for each algorithms is just run by:
[code]

[2021-09-30 16:26] LiangdeLI commented on #690
All the python code mentioned above are in the gitbub repo with link in the first comment.

[2021-09-30 18:46] hammer opened #691 "Document how to release"
@tomwhite wrote up some great instructions at https://github.com/pystatgen/sgkit/issues/608#issuecomment-891117795. We should probably put these instructions somewhere more permanent, though I'm not quite sure where. Perhaps as a discussion at https://github.com/orgs/pystatgen/teams/committers?

[2021-09-30 20:52] eric-czech opened #692 "Implement gene set association analysis"
We have methods for associating individual genetic variants and phenotypes (https://github.com/pystatgen/sgkit/pull/16, https://github.com/pystatgen/sgkit/pull/66), but inferring associations with gene sets and pathways would also be very useful.

In principle, these methods are fairly simple and nearly always appeal to a multivariate regression model of the individual SNPs for a gene set against

[2021-10-01 10:46] #640 closed

[2021-10-01 11:07] tomwhite commented on #683
Hi @LiangdeLI - a few thoughts below:

* How big is `output.zarr`?
* It's best to create the Dask `Client` as the first line of your program, otherwise there's a risk that some computations are done locally without you really knowing (I'm not sure that is the case here however).
* You could try running on a single machine first (in distributed mode still, see https://docs.dask.org/en/latest/setup/

[2021-10-01 11:13] tomwhite commented on #691
Maybe as a section on https://pystatgen.github.io/sgkit/latest/contributing.html?

[2021-10-01 11:19] tomwhite commented on #687
We could document how to use Dask's progress bars with `vcf_to_zarr`.

[2021-10-03 00:01] hammer opened #724 "Allow read_plink to work with a compressed collection of files"
I've got a `.zip` file that contains `.fam`, `.bim`, and `.bed` files. I'd like to use `read_plink` to on this zip file without having to unzip it. Is there any way we could make that work?

[2021-10-03 00:19] hammer commented on #688
Okay I have a branch where I'll build up this notebook: https://github.com/hammer/sgkit/blob/canine/docs/examples/canine.ipynb.

The download is 90 MB, which is not so big, but it's not so small either. Is there a way we can have the example notebooks run less frequently than most of the tests?

[2021-10-03 13:22] hammer commented on #687
So I tried

[code]

which did not bring up any progress bars. Is there some sort of trick I need to push the ProgressBar into the function call?

Relatedly, I've noticed that when I use this pattern with library functions that contain multiple Dask computations it's hard to figure out which task is having its progress displayed.

I think it might be better to just have a verbose mode for our IO me

[2021-10-03 14:44] hammer commented on #473
Related to this topic I've been thinking about how we might use the Pandas support for categorical data (e.g. [pandas.Categorical](https://pandas.pydata.org/docs/reference/api/pandas.Categorical.html), [pandas.factorize](https://pandas.pydata.org/docs/reference/api/pandas.factorize.html)) to represent contigs and alleles. It's unfortunate that this data type could not be pushed into NumPy...

[2021-10-04 08:39] jeromekelleher commented on #687
Some proper logging would be very helpful I think, and will be essential over time. We could then document how to set up logging conveniently using (e.g.) [daiquiri](https://daiquiri.readthedocs.io/en/latest/).

@tomwhite any thoughts on adding ``logger.debug(...)`` messages to the codebase? Maybe we should fork this out into a separate discussion, so we can make some high-level decisions about ho

[2021-10-04 09:58] tomwhite commented on #688
The main build [runs Sphinx to look for doc warnings](https://github.com/pystatgen/sgkit/blob/main/.github/workflows/build.yml#L33-L36) for every PR. There is also [an action](https://github.com/pystatgen/sgkit/blob/main/.github/workflows/docs.yml) that runs when the PR is merged to main that also runs Sphinx and publishes the docs.

Perhaps it would be OK to exclude large example notebooks from t

[2021-10-04 10:58] tomwhite commented on #687
When the input VCF is small enough, the [sequential](https://github.com/pystatgen/sgkit/blob/d3b77ed878ce421c9363b948a9796f46572fa44a/sgkit/io/vcf/vcf_reader.py#L912) code path in `vcf_to_zarr` is chosen (since it's a single file, and `regions` is None). This path does not use Dask (even though the output Zarr may have multiple chunks), so the progress bar is not displayed.

Your second example sh

[2021-10-04 10:59] tomwhite opened #725 "Document how to convert 1000 genomes to Zarr on a single machine"
Describe how to convert a bunch of VCF files making efficient use of the resources of a single machine (memory, cores).

See also #687

[2021-10-04 11:00] tomwhite commented on #687
Yes, this would be very useful!

[2021-10-04 11:41] tomwhite commented on #687
Hmm just found https://github.com/tqdm/tqdm#dask-integration. Also, I wonder if we can use file position within the VCF file or region as a rough proxy for progress...

[2021-10-04 16:50] tomwhite commented on #662
Agreed. This should be fairly straightforward to calculate:

[code]

So any windows that extend over the chromosome length needs to be clipped. We don't have chromosome lengths stored anywhere at the moment (see #464), but assuming we had that information, we could find the base lengths with something like the following (not extensively tested):

[code]

Should the window functions add a `window_b

[2021-10-04 20:36] timothymillar commented on #662
Just a thought, would it be worth adding `window_base_start`  and `window_base_stop`  instead? That would allow a more direct translation to and from BED, GFF and etc in future, if that's useful?

[2021-10-05 07:56] tomwhite commented on #662
Yes, that's better. Perhaps `window_start_position` and `window_stop_position` to echo the `variant_position` variable?

This will take us into coordinate system territory (#434). (I realised the code I posted also needs to clip start positions to be at least 0 or 1, depending on the coordinate system in use.)

[2021-10-06 04:41] LiangdeLI commented on #690
I have figured out the most time-consuming part in sgkit allele frequency is `allele_freq = ds['variant_allele_frequency'].values`, the reason it is slow may be memory copy involved. Now I have changed sgkit and hail to writing output to a file, making it a fair comparison with plink.

[2021-10-06 07:52] LiangdeLI commented on #683
Hi @tomwhite Thanks for your suggestions!
1. `output.zarr` has size of 666MB.
2.  I tried creating Dask `Client` before loading the dataset, which is basically the first line. But still have the same issue.
3.  Yes, good suggestion. Even I run distributed scheduler on the single machine has the same problem.
4. I'm learning and trying to find more useful information on Dask UI.

Then some new find

[2021-10-06 12:44] hammer commented on #683
@LiangdeLI http://xarray.pydata.org/en/stable/generated/xarray.DataArray.values.html is going to convert a large Dask array into a single NumPy array.

It might be helpful to work through the Xarray tutorial ([video](https://youtu.be/mecN-Ph_-78), [code](https://github.com/xarray-contrib/xarray-tutorial)) and the Dask internals tutorial ([video](https://youtu.be/LQrgDhN-XOo), [code](https://github

[2021-10-06 13:30] tomwhite opened #726 "Remove use of NumPy 1.21 features"
We currently require NumPy 1.21 due to our use of [`numpy.typing.NDArray`](https://numpy.org/devdocs/reference/typing.html#numpy.typing.NDArray) which was introduced in that version.

However, we also [exclude Numba 0.54.0 since](https://github.com/pystatgen/sgkit/blob/main/setup.cfg#L36) it is not compatible with NumPy 1.21.

#656 was an attempt to fix this, but in practice conda installs a versi

[2021-10-06 13:38] tomwhite opened #727 "Task fusion not occurring in `concat_zarrs_optimized`"
This results in unmanaged memory problems and spilling to disk, which slows down the operation considerably. It seems to only be a problem when using the distributed scheduler - the default scheduler does not have the same problem.

The problem is identical to the one described in https://github.com/dask/dask/issues/6219.

Found while working on #725

[2021-10-06 13:50] jeromekelleher commented on #726
Agreed - type annotations are "nice-to-have" in my book

[2021-10-06 13:55] tomwhite opened #728 "Can't convert VCF fields not defined in the header"
If a VCF field is not defined in the header, but is present in the body of the file, then it is not currently possible to read (or exclude) it.

For example, when working on #725 I started by using a version of 1000 genomes VCFs that didn't define `FORMAT/GT` in the header, so it was not possible to extract the genotype data, even though it is present in the data.

This was the file: https://stora

[2021-10-06 14:55] jeromekelleher commented on #728
The spec is quite weak on this point, and only recommends that fields are described. However, BCF does require fields to be present, so we could recommend people convert their files using bcftools.

But I think you're right, we will just have to deal with this complexity and not rely on the headers being complete.

[2021-10-06 15:11] pentschev commented on #726
Yes, that is fine for us, thanks for confirming @tomwhite !

[2021-10-07 22:06] timothymillar opened #729 "Cohort allele frequencies"
Following #649 it would be good to also calculate cohort allele frequencies. This should simply be a case of dividing the cohort allele counts by their sum.

[2021-10-07 22:22] timothymillar opened #730 "Generic functions for cohort means and sums"
I've come across a couple of situations where I want to take mean of sample values for each cohort in a dataset. From what I can tell, there is not a simple way to achieve this using dask or xarray.

We already have a numba jitted function to do this for a specific case ([`_cohort_observed_heterozygosity`](https://github.com/pystatgen/sgkit/blob/main/sgkit/stats/popgen.py#L951)) so it would make s

[2021-10-11 13:20] tomwhite opened #733 "Windows build failing with SSL error"
From https://github.com/pystatgen/sgkit/runs/3844122469?check_suite_focus=true:

[code]

Looks like it might be this error: https://github.com/jupyter/notebook/issues/4245.

[2021-10-12 07:41] tomwhite opened #734 "Add function to get max sizes of fields from VCF"
From https://github.com/pystatgen/sgkit/issues/725#issuecomment-936338657

This would retrieve the maximum number of alt alleles, ploidy, and actual (maximum) size of Number=. fields, in a form suitable for passing to the `vcf_to_zarr` function.

[2021-10-12 07:46] tomwhite commented on #725
In addition to #734 which would be helpful for finding values for some of these settings, for these particular cases we could change the default behaviour as follows:
* Make importing all fields the default (i.e. `fields=["INFO/*", "FORMAT/*"]`)
* Dimension names could be automatically generated, with a warning. (E.g. `INFO/CIEND` -> `info_ciend_dim`)
* Number=. fields could be excluded by default

[2021-10-12 10:21] jeromekelleher commented on #733
Agreed, I vote to merge.

Perhaps we just do the monkey patching in CI then as a non intrusive workaround?

[2021-10-13 19:47] LiangdeLI opened #735 "Bottleneck in terms of time consuming of allele frequency benchmark"
To make fair comparison, I forced sgkit and hail to write allele frequency to files, because plink --freq does it.

Then I found sgkit and hail both taking a significant amount of time to do this output step, even though the sizes of their final result files are comparable. (sgkit: 3.4G, Hail: 4.9G, PLINK:3.2G)

The output code for them are:
sgkit: `np.savetxt("/data/sgkit_allele_freq_output.txt",

[2021-10-13 21:44] LiangdeLI commented on #735
Thank you @hammer for the suggestion! I believe .zarr is binary format right? Because PLINK's output file .frq is ASCII text format, so I have sgkit and hail all write output to .txt format. I reckon this is more fair comparisons.

And I know usually, user might not write allele fre output to file when they are using sgkit or hail, so I compare sgkit's and hail's computation time solely as well (e

[2021-10-13 22:08] LiangdeLI opened #736 "Bottleneck in terms of time consuming of HWE benchmark"
HWE benchmark is doing the similar things to GWAS tutorial. Because a bottleneck in sgkit dataset final selection, I can only run the benchmark on chromosome 21(201MB in original vcf) instead of chr1-22(14GB in original vcf).

Sgkit is doing:
[code]

Hail is doing:
[code]

PLINK has flags:
`--hardy --hwe 1e-6 --maf 0.01`

The three lines of sgkit take (0.067585, 1.688614, 375.0212) seconds respect

[2021-10-14 06:41] LiangdeLI commented on #735
New findings: `ds['variant_allele_frequency'].to_numpy()` can actually `load()` + `to_numpy()`, by separating them, I found `ds['variant_allele_frequency'].load()` takes 562 seconds and `to_numpy()` only takes 0.000583.

So the conclusion here is: Because xarray using lazy loading, the dataset is basically a file handler to where data is stored. Loading these results from disk to memory takes most

[2021-10-14 07:50] tomwhite opened #737 "Remove Windows SSL certs fix"
Tracker issue to remove the fix introduced in #733 when a fix is available upstream.

[2021-10-14 07:59] #726 closed

[2021-10-14 07:59] #733 closed

[2021-10-14 15:23] jeromekelleher commented on #724
AFAIK the underlying libraries only support working with raw files, so I'm not sure this is workable.

[2021-10-14 15:27] jeromekelleher commented on #737
Just tagged this with 0.4.0 release so we can reexamine before release. It would nice if the problem had gone away and we could delete the code workaround.

[2021-10-14 16:46] eric-czech commented on #736
One issue here is that I believe the following line leads to two passes over the raw genotype data when the eager computation is forced in `sel`: `ds = ds.sel(variants=((ds.variant_allele_frequency[:,1] > 0.01) & (ds.variant_hwe_p_value > 1e-6)))`.

You should try this instead:

[code]

Here's a reproducible example to motivate it:

[code]

The key difference there is that calling compute explicit

[2021-10-15 07:17] LiangdeLI commented on #735
I found the numpy ndarray converted from `ds['variant_allele_frequency']` has dimension of (81271745, 4), result in 2600695960B = 2.6GB, basically 8 bytes for each number.

[2021-10-18 08:15] tomwhite opened #740 "VCF Zarr specification"
Write a spec for how we represent VCF in Zarr. This is likely to be slightly different from the current sgkit implementation (field names should match the VCF field names, for example), but it should be easy to do a lightweight conversion to sgkit conventions via a utility method.

[2021-10-18 08:22] jeromekelleher commented on #740
Totally agree.

I'm not sure there's much value in having a second zarr format with difference column names though - wouldn't it be simpler to just say "this column corresponds to VCF field X"? Either that or we just use the VCF names directly in the sgkit format, perhaps making the current names available as synonyms in sgkit?

[2021-10-18 09:09] tomwhite opened #742 "Change `target_part_size` default to 20MB in VCF conversion"
I found that this setting (compared to the current default of 100MB) made the progress updates more useful. See #725

[2021-10-18 22:49] LiangdeLI commented on #736
A good news is that this method has reduced `sel()` time from 375 to 20 seconds, calculated on chr21.

[2021-10-19 07:55] #742 closed, assigned to tomwhite

[2021-10-19 08:05] #678 closed

[2021-10-19 21:55] #735 closed

[2021-10-19 23:47] LiangdeLI opened #746 "Packages dependency issue when installing sgkit release 0.3.0 with pip"
I used `pip3 install sgkit ` to install latest release.

When I just do `import sgkit as sg`, it raise errors:
[code]

I realized `NDArray` may only in `numpy.typing` of numpy new release, then I upgraded `numpy` from 1.20 to 1.21, and `from numpy.typing import NDArray` works then. However, `numba` is unhappy:
[code]

[2021-10-20 11:20] eric-czech commented on #736
How long, approximately, does it take now start to finish for sgkit vs hail (where both are writing .mt or .zarr files respectively)?

[2021-10-20 20:52] #675 closed

[2021-10-21 09:07] jeromekelleher commented on #736
Yes, forcing everything to be eager seems like a bad measure of how things would work in practise, since this is something we'd discourage.

[2021-10-22 02:52] LiangdeLI commented on #746
Thanks @tomwhite. I will install the latest from Github.
I was trying this newer version because I found the dataset would be much larger in memory than original .zarr file. I remember you once mentioned a memory bug fixed, which one it is? Would it be related to my issue here?

I have `.zarr` data for chromosome 21, with size 321 MB. After I do eager loading by: `ds = sg.load_dataset("/mydata/chr

[2021-10-25 08:22] tomwhite opened #748 "Add sgkit version attribute to datasets"
This will be useful for seeing which version of sgkit they were created with.

[2021-10-27 10:34] #748 closed, assigned to nobody

[2021-10-27 10:36] tomwhite opened #751 "Generate dimension names for fixed-sized Number fields > 1 automatically"
From https://github.com/pystatgen/sgkit/issues/725#issuecomment-940752832

[2021-10-28 06:23] LiangdeLI opened #752 "Issues, concerns and questions in PCA benchmark"
I have finally successfully run a benchmark of PCA of sgkit, hail and plink. And this is the plot of the tentative results:
[chr21_pca_single_wall_total.pdf](https://github.com/pystatgen/sgkit/files/7431429/chr21_pca_single_wall_total.pdf). I'm still deep analyzing the background jobs invoked in code, understanding each tools' outputs to make sure they are correct and comparable. For the code impl

[2021-10-28 06:43] LiangdeLI opened #753 "0.3% of Sgkit and Hail's allele frequency results are different with Plink's"
I'm writing code to verify the benchmark's results are the same for three tools and found this problem.

The allele frequency is run on chromosome 21, which has 1105538 variants. I found Sgkit and Hail produced same results, but they have 3350 results different with Plink's, so 0.3% of results are different. I have excluded the impact of precisions.

I remember I was told the correctness had been

[2021-10-28 19:12] hammer opened #757 "NumFOCUS onboarding"
- [ ] Add the “Powered by NumFOCUS” badge for your website and/or GitHub
- [ ] Add the Fiscal Sponsor Readme Attribution to your project’s GitHub
- [ ] Add the NumFOCUS sponsored project logo (with link to numfocus.org) to your project’s website (under About) and language indicating that you are a sponsored project of NumFOCUS.
- [ ] Link to the donation page.

[2021-10-29 18:36] eric-czech commented on #692
FYI dropped a line to Lorin at https://github.com/ramachandran-lab/genee/issues/2

[2021-11-01 10:35] jeromekelleher commented on #753
I'd guess it's something to do with automatic filtering in plink or something to do with missing data. How different are the results? If sgkit and hail are agreeing, then I'd be happy enough that we're doing something sensible, so unless you'd like to do more diagnostics here I think we can close the issue?

[2021-11-01 20:11] #751 closed

[2021-11-02 16:43] tomwhite commented on #692
I started looking at [implementing gene-ε in Python](https://github.com/tomwhite/sgkit/tree/genee/validation/gwas/method/genee), beginning with a simple port of the R code to use Pandas and scikit-learn. I used [GaussianMixture](https://scikit-learn.org/stable/modules/mixture.html#gmm) as the Python equivalent to R's [mclust](https://cran.r-project.org/web/packages/mclust/vignettes/mclust.html), a

[2021-11-03 05:21] LiangdeLI commented on #753
Here is some of examples, with each line ordered by sgkit, hail, plink
[code]

[2021-11-03 05:32] LiangdeLI commented on #753
A diagnostics is probably necessary for my paper on this benchmark, because I need to prove the results of these tools in each methods are equal.

Eric suggested [half missing calls](https://www.biostars.org/p/297677/) in the last meeting. I tried the Perl program solution in that post. And it seems that the 1000 genome vcf using "0|0" instead of "0/0" to represent calls, so I also tried "|" versi

[2021-11-03 08:04] LiangdeLI commented on #753
The plan then is to find those 3350 different AF's variants, explore what's special in their original vcf file records.

[2021-11-03 13:36] jeromekelleher commented on #753
I doubt there's anything interesting going on @LiangdeLI, and definitely not from the perspective of presenting benchmark results. Plink is doing something very slightly different on a tiny fraction of the sites, and this won't affect timings in any way at all. Even if we figured out what plink is doing, I doubt we'd be able to make it do the same things as sgkit/Hail.

I would just note in the te

[2021-11-04 23:36] LiangdeLI commented on #753
Sure, thanks @jeromekelleher! It makes sense. I will just stop exploring this problem here, and only mention this little difference a bit in paper.

[2021-11-05 12:11] eric-czech commented on #692
Sounds great @tomwhite, it will be awesome having that already for validation/testing!

Before I responded, I wanted to get a better sense of how the method works.  Here is an outline based on a deeper read of the code/paper with an important feature of the method being that any mention of "gene" below is interchangeable with an arbitrary grouping of variants (e.g. gene sets, protein domains, etc.

[2021-11-05 12:17] hammer commented on #753
FWIW I’m pretty interested in the difference! I’d prefer to keep this open and figure it out, even if it’s not relevant for the benchmarking exercise.

[2021-11-05 12:37] eric-czech commented on #753
By half call, I mean situations like "./0" actually (the "." means the call is missing).  The "|" instead of "/" just suggests phasing.  Hail [import_vcf](https://hail.is/docs/0.2/methods/impex.html#hail.methods.import_vcf) seems to point at that now by default btw (i.e. the "PGT" VCF field instead of "GT") but I doubt that's a source of problems since sgkit uses GT and they're the same.  Either w

[2021-11-08 09:26] tomwhite commented on #692
Thanks @eric-czech, great summary!

I agree that it's worth trying out an approach using the DataFrame API and I'll try that first. I'd also be curious to see what a windowing approach looks like (and how it compares to a dataframe approach in terms of performance).

The regression part is still the biggest unknown. The paper talks about using a mix of ridge and lasso, which is ElasticNet in sklea

[2021-11-08 09:29] LiangdeLI commented on #753
Yeah, I know. The solution in the biostars link you gave me is changing "./0" or "0/." to "./." . I was just saying, I also tried "|" version, as the 1000 Genome vcf use it. And thanks @eric-czech for this more explanation on Hail and Sgkit importing vcf.

@hammer I'm happy to explore this once I have a bit more free time after the schools' application and the paper, unless it becomes urgent.

[2021-11-09 09:36] tomwhite opened #759 "Fix different mypy errors for different builds"
We are getting different mypy errors between builds. Compare

https://github.com/pystatgen/sgkit/runs/4149816911?check_suite_focus=true

with

https://github.com/pystatgen/sgkit/runs/4149991714?check_suite_focus=true

It's not clear if this is due to different Python versions, or GH actions caching different environments (or something else).

[2021-11-09 10:15] eric-czech commented on #692
At the very upper end of that spectrum you'd have something like the full UKBB LD matrices from massive windows like 10 Mbp reaching several (or >10) TB in size [[1](https://pan.ukbb.broadinstitute.org/docs/hail-format/index.html#release-files)].

As far as sparsity goes, some estimates I had from [ld_prune_ukbb_sim.ipynb](https://github.com/related-sciences/gwas-analysis/blob/master/notebooks/pla

[2021-11-09 10:18] eric-czech commented on #692
Hey @lorinanthony or @weichengv, what effect does standardization (of the LD matrix) in the glmnet/lasso step of gene-e have?  That would certainly alter the resulting deflated statistics so we're wondering if we should or should not do that.

[2021-11-09 23:08] lorinanthony commented on #692
Hey @eric-czech, you're absolutely right that would alter the resulting set of shrunken effect sizes. For that reason, I wouldn't standardize the LD matrix.

[2021-11-11 11:32] #759 closed

[2021-11-11 12:14] tomwhite commented on #692
Thanks @lorinanthony for confirming that!

@eric-czech I have implemented your suggestion using Dask dataframes here: https://github.com/tomwhite/sgkit/blob/genee/validation/gwas/method/genee/test_genee_dask.py. Still doesn't include a regression step.

[2021-11-11 12:19] tomwhite commented on #434
Just wanted to note here that the [GA4GH Variation Representation Specification](https://vrs.ga4gh.org/en/latest/index.html) uses [inter-residue coordinates](https://vrs.ga4gh.org/en/latest/appendices/design_decisions.html#inter-residue-coordinates-design).

[2021-11-11 12:41] tomwhite commented on #740
I've updated the draft spec at https://github.com/tomwhite/sgkit/blob/vcfzarr-spec/vcf_zarr_spec.md following discussion on #755 to simplify the types and to remove the 32-bit limitation.

[2021-11-15 14:11] #757 closed

[2021-11-16 09:41] tomwhite opened #764 "Release 0.4.0"
This is a coordinating issue for the release.

Issues for this release are listed here: https://github.com/pystatgen/sgkit/milestone/2

[2021-11-16 09:47] #737 closed

[2021-11-16 10:11] tomwhite commented on #764
I have tagged [0.4.0](https://github.com/pystatgen/sgkit/tree/0.4.0), and the artifacts are now on [TestPyPi](https://test.pypi.org/project/sgkit/). I ran a few manual tests successfully, and I'll now wait a couple of hours before pushing to main PyPi.

[2021-11-16 15:08] tomwhite commented on #764
[0.4.0](https://github.com/pystatgen/sgkit/releases/tag/0.4.0) artifacts are now available on [PyPi](https://pypi.org/project/sgkit/), and the documentation is published here: https://pystatgen.github.io/sgkit/0.4.0/

There are still some documentation tasks to do in https://github.com/pystatgen/sgkit/milestone/2

[2021-11-16 15:53] tomwhite commented on #740
Another update of the draft spec, https://github.com/tomwhite/sgkit/blob/vcfzarr-spec/vcf_zarr_spec.md, which uses the column names we already have in sgkit (to reflect earlier comments in this issue).

[2021-11-17 08:32] #764 closed

[2021-11-17 10:51] jeromekelleher commented on #764
Conda package is on the way, https://github.com/conda-forge/sgkit-feedstock/pull/2

Should be straightforward update, but I want to check the latest pinning to make sure we're requiring the appropriate version of things.

[2021-11-17 11:08] hyanwong opened #767 "Data structures documentation figure mentions "populations" but doesn't make a link to SGkit cohorts"
The illustrative image at https://pystatgen.github.io/sgkit/latest/getting_started.html#data-structures has a row labelled "population", but this is not mentioned later on in that section, so it is not immediately obvious that this would be encoded in SGkit using cohorts. A note in this section of the docs might be useful for newbies.

[2021-11-18 09:46] tomwhite commented on #767
Thanks for reporting this @hyanwong. I think that diagram was created before we started using the term "cohort", but I agree that we should make the link between the two terms.

@eric-czech are you able to update the figure (or share a copy of it somewhere)?

[2021-11-18 10:03] tomwhite opened #768 "Automatically publish docs on release"
Add a GitHub action to deploy the docs for a new release when the release is made.

The manual instructions are here: https://github.com/pystatgen/sgkit/issues/608#issuecomment-891117795. We might also look at tskit's automation for inspriration: https://github.com/pystatgen/sgkit/issues/669#issuecomment-919118970. And #669 is related (although it is waiting on the release of a version switcher fe

[2021-11-18 10:38] eric-czech commented on #767
It's at https://docs.google.com/drawings/d/1NheB6LCvvkB4C0nAoSFwoYVZ3mtOPaseGmg_mZvcQ8I if you want to copy + modify beyond changing population to cohort (which I just did).

[2021-11-18 11:51] tomwhite commented on #767
Thanks @eric-czech!

[2021-11-18 14:15] #767 closed

[2021-11-18 16:01] tomwhite commented on #692
I created this notebook to investigate:
https://nbviewer.org/github/tomwhite/sgkit/blob/genee/validation/gwas/method/genee/genee-ld-simulation.ipynb

TLDR: memory is the limiting factor, but we can get quite a long way (millions of variants) by using GCP machines with >1TB of memory.

Interested to hear others thoughts as I may well have missed something.

[2021-11-19 10:52] elswob opened #770 "docker image"
Be great if there was a docker image with VCF, BGEN, PLINK support.

[2021-11-21 16:30] elfring opened #771 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-23 12:35] tomwhite commented on #770
Thanks for the suggestion @elswob!

This looks like it might be a useful guide to building such an image: https://uwekorn.com/2021/03/01/deploying-conda-environments-in-docker-how-to-do-it-right.html

[2021-11-23 13:11] elswob commented on #770
Thanks @tomwhite . Ok, I've had a go at this - https://hub.docker.com/repository/docker/elswob/sgkit

Happy to modify or move to a better location.

[2021-11-23 13:33] hammer commented on #770
Do we prefer Docker Hub, GitHub Packages, or both? https://docs.github.com/en/actions/publishing-packages/publishing-docker-images

[2021-11-23 13:52] jeromekelleher commented on #770
I guess Docker hub is the "standard" place for Docker images? I have no real opinion though, I only use Docker images when building JupyterHubs.

[2021-11-24 09:57] tomwhite commented on #740
I've created a repo for the spec at https://github.com/pystatgen/vcf-zarr-spec (as we discussed in the last meeting, #761), and a PR for the first version of the spec at https://github.com/pystatgen/vcf-zarr-spec/pull/1.

[2021-11-25 17:01] tomwhite commented on #740
Fixed in https://github.com/pystatgen/vcf-zarr-spec/pull/1

[2021-11-25 17:01] #740 closed

[2021-11-25 17:03] tomwhite commented on #734
This exists as `zarr_array_sizes`, but it is not a part of the public API since it runs sequentially. Leaving this issue open to cover the parallel implementation.

[2021-11-25 17:10] tomwhite opened #772 "Rename `call_genotype_non_allele` to `call_genotype_fill`?"
For consistency with a general way of specifying fill masks (https://github.com/pystatgen/vcf-zarr-spec/blob/main/vcf_zarr_spec.md#missing-and-fill-values) we might rename this variable. We could keep the "non-allele" terminology in the documentation in addition to describing it as a fill value.

Thoughts @timothymillar?

[2021-11-25 17:12] tomwhite opened #773 "Fix VCF conversion edge cases"
I found some issues in the VCF conversion code that surfaced when I was trying to convert from VCF to Zarr and back again.

[2021-11-25 19:47] timothymillar commented on #772
Sounds good @tomwhite. I think "fill" is more intuitive and could probably be used in the documentation as well.

[2021-11-26 10:00] jeromekelleher commented on #772
SGTM also

[2021-12-02 13:26] #772 closed

[2021-12-07 16:27] hammer commented on #43
https://github.com/carbonplan/xarray-schema looks relevant

[2021-12-09 12:52] tomwhite opened #778 "New warning in cyvcf2 causes tests to fail"
[code]

Caused by https://github.com/brentp/cyvcf2/pull/229. This fix is very simple, just add a pytest filter warnings.

[2021-12-09 20:49] hammer opened #780 "Upgrade Dask to address security bug"
Our repo currently has an an unresolved [Dependabot alert](https://github.com/pystatgen/sgkit/security/dependabot/requirements.txt/dask/open). Apparently Dask < 2021.10.0 has a security issue, so we should ugrade to dask>=2021.10.0.

[2021-12-10 06:49] #778 closed

[2021-12-13 10:58] #773 closed

[2021-12-13 11:24] tomwhite opened #783 "Rename read_vcfzarr to refer to scikit-allel"
The `read_vcfzarr` function converts scikit-allel's Zarr format to sgkit's [VCF Zarr format](https://github.com/pystatgen/vcf-zarr-spec/blob/main/vcf_zarr_spec.md). To avoid confusion we should change the name of the function to something like  `read_scikit_allel_vcfzarr`.

[2021-12-14 08:58] #780 closed

[2021-12-14 14:04] #783 closed

[2021-12-15 00:23] LiangdeLI opened #785 "Issue of vcf_to_zarr()'s .zarr output"
The .zarr output of `vcf_to_zarr()` is smaller than before in terms of size, like for a 201MB 1000 Genomes chromosome 21 vcf file, the new result is 50MB zarr file while it was 321MB before. However, I found some problems of this new compressed version of .zarr.

For example, if I simply run the following reading data and write:
[code]
It works for the old 321MB version, but the new 50MB version w

[2021-12-28 13:51] AlksIDo commented on #602
May I ask you to clarify this point? Is it a sgkit function, or does a standard tool like BCFtools serve the purpose better?

[2021-12-28 14:38] hammer opened #787 "Update DocSearch"
Algolia has changed the DocSearch program and it's going to require some code changes on our side.

[Gmail - Fwd_ The DocSearch team have some exciting news for you!.pdf](https://github.com/pystatgen/sgkit/files/7785120/Gmail.-.Fwd_.The.DocSearch.team.have.some.exciting.news.for.you.pdf)

[2022-01-03 10:32] tomwhite opened #788 "Fix doc build"
The doc build is failing with the new 1.13.0 release of sphinx-autodoc-typehints.

[2022-01-05 04:31] timothymillar opened #790 "Can't make equally spaced overlapping windows"
I can't seem to do this with `window_by_position`.

I looks like the  `window_start_position` argument implicitly expects the specified positions match the contigs of the `variant_contig` array. The contig bounds are calculated [here](https://github.com/pystatgen/sgkit/blob/main/sgkit/window.py#L229) from the `variant_contig` array. The bounds of a given contig (start and stop) are the indices cor

[2022-01-05 10:55] tomwhite commented on #790
You are right @timothymillar - in the current implementation `window_start_position` has to be of size `variants`. This could be made more flexible though and probably should be to accommodate your use case. (Another generalisation that would be useful would be to have `window_stop_positions` to make it possible to define any number of variable-sized windows.)

Is this something you could look at

[2022-01-05 11:09] #788 closed

[2022-01-06 05:34] timothymillar commented on #790
Thanks @tomwhite. I'm currently quite busy with my thesis but I can have a look when I have some time. It's fairly straightforward to generate overlapping windows on an an ad-hoc basis anyway.

Yes, window_stop_positions would be useful to generate windows from BED/GFF files.

[2022-01-07 12:20] tomwhite commented on #790
Thinking about this more, this case can easily be supported by added a `step` argument (like the one in `window_by_variant`). See #793. How does this look @timothymillar?

[2022-01-07 19:39] timothymillar commented on #790
That looks great, thanks @tomwhite !

[2022-01-08 22:07] LiangdeLI opened #794 "Write zarr to HDFS"
I have set up HDFS and can store(hdfs dfs -put) data to it, read dataset for Sgkit using `load_dataset("hdfs://node0:9000/chr21.zarr")`, but it seems that I cannot write the output or say the resulting dataset to HDFS.

I do it in this way:
[code]
But it does not work and then I also tried underlying `to_zarr()`, they have similar error messages:
[code]
and
[code]

[2022-01-08 22:16] LiangdeLI commented on #794
Also, for those files reported `RemoteException: File does not exist:`, I do can find it using command line `hdfs dfs -ls ...`.

@eric-czech @tomwhite I found some of your examples, which are writing to `gs` using `to_zarr(fsspec.get_mapper(path), mode="w", consolidated=True)`, but still got the same errors for me.

[2022-01-09 21:25] timothymillar opened #795 "Document best practice of windowing after filtering varaints"
sgkit stores genomic windows as the indices of their first and last variants within each window. This means that filtering variants (i.e. dropping some variants from the dataset) will invalidate the indices in `window_start` and `window_stop`. This should be documented and users encouraged to generate genomic windows *after* filtering any variants.

Related discussion: https://github.com/pystatgen

[2022-01-11 09:37] tomwhite opened #797 "Mergify strict mode deprecation"
We need to fix Mergify's configuration due to https://blog.mergify.com/strict-mode-deprecation/

[2022-01-12 09:57] #790 closed

[2022-01-12 10:10] #797 closed

[2022-01-12 14:40] hammer commented on #794
@LiangdeLI why are you writing to HDFS? I don’t think that will be a common storage system for our users.

[2022-01-13 15:47] eric-czech commented on #682
FYI the team at Nvidia (cc: @EpiSlim, @quasiben, @pentschev, and Harry) is going to write a blog post discussing regenie/dask/cupy and include some introductory material on sgkit.  @jeromekelleher / @tomwhite / @hammer did any of you ever start on drafts or outlines for the first blog post we were discussing here?  I'm also wondering if it's worth engaging NumFOCUS to get some wider distribution o

[2022-01-13 16:05] jeromekelleher commented on #682
Nope, I haven't done anything. Definition +1 on engaging NumFOCUS!

[2022-01-14 01:10] hammer commented on #682
I was supposed to do it but haven’t gotten around to it. If someone else wants to do it, that would be great.

[2022-01-17 09:58] LiangdeLI commented on #794
1. If you mean why HDFS? Because it seems to be the most easily get NFS for me, and we discussed it a bit in our Sep 16th meeting to use HDFS in benchmark.
2. If you mean why write? Because I use it to trigger computation(stop lazy evaluation).

I tried with no writing, and use `persist()` to trigger computation, for example in HWE, (with 80 cores on 2 machines, totally 320 GB memory, running 16 w

[2022-01-17 10:46] eric-czech commented on #794
Does it work on a much smaller dataset?

Using `persist` should be fine.  And if it works on a smaller dataset, then those problems are probably related to chunk sizes.  You could try rechunking the genotypes array in `1kg.zarr` to something smaller.

[2022-01-17 11:10] tomwhite opened #799 "Tests failing with numba 0.55.0"
The new [0.55.0 release of Numba](https://numba.readthedocs.io/en/stable/release-notes.html#version-0-55-0-13-january-2021) supports NumPy 1.21, but a test is failing:

[code]

It was failing in Numba 0.54 too, but we have excluded that version due to incompatibility with later NumPy releases. We should work out what the underlying issue is and fix that.

[2022-01-17 11:49] tomwhite commented on #799
I think the test itself is flawed. It is testing that the r value is 1 for two identical inputs of length 49, but this is wrong, since the r value should be nan for identical inputs. And indeed it is for all lengths up to 49. (And this tallies with scikit-allel, which also gives nan for all cases up to and including 49.)

It seems that the test is hitting a floating point edge case at length 49, w

[2022-01-17 12:02] tomwhite opened #801 "Test on Python 3.10"
We should add 3.10 to the build matrix.

[2022-01-17 12:03] tomwhite opened #802 "Remove support for Python 3.7"
[NumPy 1.22](https://numpy.org/devdocs/release/1.22.0-notes.html) no longer supports Python 3.7, so we should consider removing support for it in the next release of sgkit.

This would be consistent with https://numpy.org/neps/nep-0029-deprecation_policy.html, which says Python 3.7 can be dropped from Dec 26, 2021.

[2022-01-17 12:37] tomwhite opened #803 "Run on Pyodide"
[Pyodide](https://github.com/pyodide/pyodide) uses WebAssembly to run Python in the browser. It has support for a lot of the PyData stack, so I wondered how easy it would be to get sgkit running on it. It would be a nice way to share demos and notebooks (see [JupyterLite](https://jupyterlite.readthedocs.io/en/latest/)). (This is work I did last year but didn't get round to sharing.)

The following

[2022-01-17 16:05] tomwhite opened #804 "scikit-learn dependency is missing"
We use it for preprocessing and pca, so should add it as an explicit dependency.

[2022-01-17 16:52] jeromekelleher commented on #802
Seems quite early to drop 3.7 tbh - is there much to be gained? To me there aren't any standout features in 3.8 making it worthwhile, and we're unlikely to (shouldn't?) depend on features required numpy 1.22 for a long time.

I don't feel strongly about it, though.

[2022-01-17 16:55] #799 closed

[2022-01-17 16:56] tomwhite commented on #802
No particular rush, just wanted to open it for discussion. Installing Python 3.8 envs using conda is easy enough on most platforms so I suspect that shouldn't be a blocker.

[2022-01-17 17:08] #804 closed

[2022-01-17 17:18] tomwhite commented on #803
I updated this to use the latest code, and stubbed out some of the numba calls: https://github.com/tomwhite/sgkit/tree/pyodide-latest. This simplifies its usage a bit:

[code]

I built the wheel with
[code]
And I used GCS since it makes it easy to set CORS:
[code]
Where `cors.json` is
[code]

One day it might be possible just to use the standard sgkit wheel from PyPi, in which case there would be

[2022-01-17 17:23] tomwhite commented on #802
Well that was quick. Our [upstream tests just failed](https://github.com/pystatgen/sgkit/runs/4843974784?check_suite_focus=true) because xarray has already [dropped Python 3.7](https://github.com/pydata/xarray/issues/6138).

[2022-01-17 21:32] LiangdeLI commented on #794
Yes, it works on chromosome 21.

Currently, it has chunk size `{"variants": 10000, "samples": 1000}` as default values, I'm rechunking the variants dimension to 1000 to see what happens.

[2022-01-17 22:49] LiangdeLI commented on #794
It still occurs those timeout/comm errors, but not that many anymore. And it still loses 2~3 out of 16 workers while running, and the workers have messages:

[code]

[2022-01-18 00:35] LiangdeLI commented on #794
So I found that workers are using `worker.memory.pause` percentage of memory and then stopped/frozen there, the CPU usage dropped to 4% and not making any more progress on tasks. Although `worker.memory.pause` means scheduler stops assigning new tasks to the worker once the worker has used this percentage of memory, I think worker should finish some assigned tasks and free the memory at this stage

[2022-01-18 08:29] tomwhite commented on #794
I would try doubling the amount of memory that each worker has until you no longer get memory issues. For example, try with 5, 2, then 1 `threads_per_worker` for 16 workers.

[2022-01-18 17:19] jeromekelleher opened #807 "Upstream failing on 3.10"
Looks like there's an error in the upstream action as it's trying to run for "3.1" rather than 3.10 @tomwhite

[2022-01-19 00:30] LiangdeLI commented on #794
Thanks. Sure, I can try allocating more memory for each worker, like 8 workers each with 10 threads to share 320 GB memory.

Maybe calling `persist(ds['variant_hwe_p_value'])` is using too much memory, is there any other ways to trigger computation but more memory efficient?

HWE on 1kg.zarr can run in single node (160 GB memory), using writing of output to trigger computation. I found dask's defa

[2022-01-20 14:22] #807 closed

[2022-01-20 15:28] tomwhite opened #809 "Upstream failing due to numpy/numba conflict"
With `numpy==1.22.1` and `numba==0.55.0` we get `ImportError: Numba needs NumPy 1.21 or less`.

This is not happening on the main build because another dependency is specifying a lower numpy version (I think).

[2022-01-20 16:19] ravwojdyla commented on #809
@tomwhite Validation Suite is also failing for the same reason https://github.com/pystatgen/sgkit/actions/runs/1721056036

[2022-01-20 16:40] ravwojdyla opened #810 "Can we now expect use-feature 2020-resolver by default?"
Related: https://github.com/pystatgen/sgkit/blob/84a5f6e2872a2d2882d87590d68b378f79ce8600/setup.cfg#L45-L57

[2022-01-20 16:50] jeromekelleher commented on #809
Oddly enough the code that's throwing this error isn't in the current [git version](https://github.com/numba/numba/blob/ef1ba4c10b753ca31e9d4ff3de874d85be1be9c2/numba/__init__.py#L130), but it looks like they are keeping support for Python 3.7.

I'm not sure whey they stopped putting the cap on numpy maximum version.

[2022-01-20 16:52] jeromekelleher commented on #809
Probably simplest for us to have numpy < 1.22 for now and to keep Python 3.7, until other stuff starts breaking?

[2022-01-20 17:41] #809 closed

[2022-01-21 06:45] aktech commented on #612
@tomwhite Can you please retrigger this build: https://github.com/pystatgen/sgkit/runs/4886133522?check_suite_focus=true

[2022-01-21 17:45] kullrich commented on #232
Hi,
I was wondering if you plan to implement the IHS and XPEHH stats in sgkit and by this step also a unphased version of it?

https://github.com/cggh/scikit-allel/issues/374

Best regards

Kristian

[2022-01-21 18:27] hammer commented on #232
Hey @kullrich,

Thanks for the request! If you want to file an issue here with more details, we'll take a look.

Regards,
Jeff

[2022-01-22 09:14] #729 closed, assigned to nobody

[2022-01-22 09:48] aktech opened #814 "GPU tests are failing with latest Numba version"
It seems like the GPU tests have started to fail with the latest Numba version:

Ref: https://github.com/pystatgen/sgkit/runs/4906151881?check_suite_focus=true

[code]

[2022-01-22 10:06] aktech commented on #814
Since the tests are failing due to Numba warning, one quick fix is to disable low occupancy warnings:

[code]

[2022-01-25 14:28] hammer opened #815 "Clean up top bar in docs"
I'd like to have a link to our GitHub repository on every page, and I don't think we need the full screen or download buttons, as those functions are handled by the browser.

[2022-01-25 14:37] hammer opened #817 "Make 0.5.0 release to pick up VCF specification?"
Before we put a blog post up, should we do a quick release to pick up @tomwhite's great work on the VCF specification?

[2022-01-25 17:40] jeromekelleher commented on #817
SGTM

[2022-01-26 11:21] tomwhite opened #818 "Fix failing build (due to Pandas 1.4.0)"

[2022-01-26 19:10] hammer commented on #817
@tomwhite would you have time to cut a release in the next few weeks?

[2022-01-26 19:11] hammer commented on #817
Alternatively we might ask @timothymillar to try it out if he is back full time soon

[2022-01-27 10:10] tomwhite commented on #817
Happy to do it - but also might be good for @timothymillar to try out the release process.

[2022-01-27 10:42] timothymillar commented on #817
I'm happy to have a go at this though I think it requires a maintainer. It looks like this is mostly automated other than docs (https://github.com/pystatgen/sgkit/issues/768) Is https://github.com/pystatgen/sgkit/issues/608#issuecomment-891117795 still up to date for the docs?

[2022-01-27 11:11] tomwhite commented on #817
Thanks @timothymillar. It is mainly automated now - there's a bit more discussion about the release process in #765.

You are a member of the pystatgen github org, so you should have sufficient privileges to do a release.

Yes, that's what I used for 0.4.0.

[2022-01-31 09:26] timothymillar commented on #817
@tomwhite I don't think I do have the privileges for this, I cant push a tag to `pystatgen/sgkit` and I don't have the "Draft a new release" option in the releases tab.

[2022-02-02 09:59] tomwhite commented on #818
The failure is coming from statsmodels:

[code]

It looks like this is fixed in https://github.com/statsmodels/statsmodels/issues/7683, but there is no release yet.

I tried running `pytest -W ignore::FutureWarning`, but then I get lots of bgen test failures like

[code]

I haven't looked into that any further. Perhaps we should just restrict to `pandas < 1.4.0`?

[2022-02-02 10:00] tomwhite commented on #801
Should we make IO packages like bgen optional again so we can move forward with Python versions even when some dependencies aren't supported?

[2022-02-02 10:04] tomwhite commented on #802
[Pandas 1.4.0](https://pandas.pydata.org/docs/dev/whatsnew/v1.4.0.html#increased-minimum-version-for-python) does not support Python 3.7.

[2022-02-02 10:09] tomwhite commented on #817
@timothymillar I just added you to the sgkit project. You were a member of the pystatgen organisation, but not the sgkit project, which was an oversight - sorry about that!

BTW we should wait until the build is passing again (see #818) before making a release.

[2022-02-02 10:32] jeromekelleher commented on #818
Seems like a good thing to try.

[2022-02-02 10:33] jeromekelleher commented on #801
I think you know what my answer is going to be here! :wink:

[2022-02-07 08:55] tomwhite opened #820 "Investigate upgrading rechunker"
We are pinned to rechunker 0.3.3 due to this issues: https://github.com/pangeo-data/rechunker/issues/92.

However, the latest version of Dask (2022.01.1) doesn't work with rechunker 0.3.3 (see #819).

We should work out how to make progress here.

[2022-02-07 09:29] #818 closed

[2022-02-10 01:02] eric-czech opened #821 "cirun not shutting down GCE instances"
Hey @aktech, I noticed that cirun keeps spinning up GCE instances (w/ GPUs) and then they just hang there without ever being shutdown.  How can we ensure that stops happening, since it's a non-negligible cost when they're up for days like this?

[2022-02-10 03:29] aktech commented on #821
Hey @eric-czech thanks for raising this, do you recall the name of the instance, that was not shutdown?

Cirun, shuts down instance, right after the job is completed and also as a extra check it checks for instance lying around every few minutes. The case you have seen might be a one off, when the instance was created but was reported as failed by the GCP API, it's a rare instance, but do happens.

[2022-02-10 13:51] eric-czech commented on #821
I see.  I caught it once before last month where an instance was up idling for ~10 days.  This time I actually say 3 separate instances that had been up for ~2 days, so it didn't seem like a one-off.  I'll keep a closer watch on it now and suspend them instead.

Can you not see logs related to how sgkit instances were managed in the last month or two though?

[2022-02-10 14:26] aktech commented on #821
This is basically, for each build. Every build spuns up 3 instances. There might have been unregistered, some times when the  GCP's API doesn't returns success and creates an instance.

I didn't see anything unusual, but will take a closer look.

[2022-02-11 06:45] ravwojdyla commented on #821
@aktech looking at the logs I believe there is a couple of issues here. Let's take a look at the last GPU action: https://github.com/pystatgen/sgkit/actions/runs/1805609747, based on your last comment, this should create 3 VMs. From the logs it seems like cirun tried to create 14 VMs and succeeded to create 9 VMs, cleaned up only 6 of them, the rest was deleted by Eric. Details:

[code]

 Issues:

[2022-02-11 07:31] aktech commented on #821
@ravwojdyla Thanks a lot for taking a look at these.

Pulling the database, all the VMs created and for a given workflow (for reference):

| name                           | created_at               | url                                                                       | region        | state      |
| ------------------------------ | ------------------------ | --------------------------------

[2022-02-11 07:57] ravwojdyla commented on #821
@aktech thanks for a prompt reply! Looking forward to the fixes. There is something I don't understand here tho, regarding:

Correct, 9 created, but why 9 VMs for a workflow run with 3 jobs? Correct me if I'm wrong, but the URLs in your tables point to specific jobs in a the same workflow https://github.com/pystatgen/sgkit/actions/runs/1805609747, there should be only 3 jobs - py3.7, py3.9 and py3

[2022-02-11 13:35] aktech commented on #821
@ravwojdyla @eric-czech All the above mentioned issues, should be fixed now and the `count` parameter in the `.cirun.yml` is no longer required.

[2022-02-11 13:40] eric-czech commented on #821
Thanks @aktech!  What ended up being the problem?  The new hook?

[2022-02-11 13:42] aktech commented on #821
The migration to new hook was not done properly, hence I left a couple of bugs. 😅

[2022-02-16 22:49] LiangdeLI opened #822 "Some results of Allele Frequency Distributed Benchmark"
Here is some results of Allele Frequency's distributed benchmark on 1000 Genome data:

<img width="505" alt="AF_1kg_8x5" src="https://user-images.githubusercontent.com/21001314/154368266-b9084f83-ec7b-4b54-86ba-229e0f0ee1ef.png">

<img width="554" alt="AF_1kg_40x1" src="https://user-images.githubusercontent.com/21001314/154368330-a51f82df-4340-41fd-9a3f-aafb6b77e2c2.png">

I set up the experiment

[2022-02-17 20:00] jeromekelleher commented on #822
Very nice @LiangdeLI, this is an informative analysis!

[2022-02-23 20:54] timothymillar commented on #817
@tomwhite I see #818 is closed but the upstream and GPU builds are still failing. Are we set to make a release or are we waiting for all green?

[2022-02-24 14:44] tomwhite opened #825 "Mypy failure: 'error: <nothing> has no attribute "pipe"'"
This is happening on the main build: e.g. https://github.com/pystatgen/sgkit/runs/5312420654?check_suite_focus=true

[code]

[2022-02-24 14:46] tomwhite commented on #825
I tried updating mypy to the latest version (v0.931, we are currently on v0.782), but this produces lots of errors:

[code]

We should probably move to the later version and fix these issues.

[2022-02-24 14:49] tomwhite commented on #817
The main build is failing too, which needs looking at before we release (#825). Upstream should be checked too. I should have a bit of time next week, but feel free to have a look in the meantime.

[2022-03-01 14:26] aktech commented on #821
@eric-czech Can we close this issue now? I believe all the concerns are addressed.

[2022-03-01 14:30] eric-czech commented on #821
Yep, looks good on our side and we haven't seen any lingering instances.  Thanks for the help @aktech!

[2022-03-01 14:30] #821 closed

[2022-03-02 08:06] abalter opened #826 "How to parse an entire VCF file into a dataframe."
Before posting this issue I searched the entire StackExchange universe and Biostars for questions about this package and there were none. So I decided I would get any help on fora.

Sgkit and its predecessor scikit-allel have a host of wonderful features for filtering, exploring, and annotating VCF files. That's not what I'm after. I want to simply import an entire VCF file into a dataframe with a

[2022-03-02 16:49] tomwhite commented on #826
Hi @abalter - sgkit converts VCF files to Zarr format, which can then be opened as Xarray. So it's not a Pandas dataframe, but it should be possible to convert from Xarray to Pandas if you need to (see https://xarray.pydata.org/en/stable/generated/xarray.Dataset.to_dataframe.html).

You can convert the VCF to Zarr by calling [vcf_to_zarr](https://pystatgen.github.io/sgkit/latest/generated/sgkit.io

[2022-03-02 19:30] rabernat commented on #820
Tom I'm sorry for the friction this is causing you. We need to do some serious work on rechunker to fix the performance problem introduced in 0.4. Hopefully we can get to that very soon.

How do you know rechunker doesn't work with dask 2022.01.1. Could you open an issue for that in rechunker?

[2022-03-03 16:24] tomwhite commented on #820
Thanks Ryan! It would be great to get to the bottom of what is happening in rechunker 0.4 so it can be fixed.

I will open an issue in rechunker about the dask problem.

[2022-03-03 17:19] tomwhite opened #828 "VCF lossless conversion tests are failing for Zarr 2.11.0"
From https://github.com/pystatgen/sgkit/runs/5401218690?check_suite_focus=true (which is truncated due to lots of output):
[code]

I haven't been able to reproduce this, but it looks like some fields are nan (e.g. QUAL) which is odd:

[code]

[2022-03-04 09:45] tomwhite commented on #828
I looked into this a bit more and found that it's due to [changes in Zarr 2.11.0](https://zarr.readthedocs.io/en/stable/release.html#release-2-11-0). In that release, chunks with no data are not written to disk. However, we use two types of NaN value to encode missing vs fill (see https://github.com/pystatgen/vcf-zarr-spec/blob/main/vcf_zarr_spec.md#missing-and-fill-values) both of which are diffe

[2022-03-04 10:54] jeromekelleher commented on #828
We've hit this issue with tsinfer as well @tomwhite . For reference:

- https://github.com/tskit-dev/tsinfer/issues/628
- https://github.com/zarr-developers/zarr-python/issues/965

[2022-03-04 15:00] tomwhite commented on #828
Thanks for the references @jeromekelleher!

[2022-03-04 17:25] #825 closed

[2022-03-10 16:30] tomwhite commented on #828
Opened https://github.com/pydata/xarray/issues/6347

[2022-03-31 16:01] tomwhite commented on #820
@eric-czech do you remember what caused us to pin rechunker to 0.3.3? We use it directly in the bgen reader, so I wonder if it was when you were working with biobank data? It would be great if we could verify that we can upgrade rechunker with the new fix in main, but I don't have an sgkit test case to check it with.

[2022-03-31 16:20] tomwhite opened #830 "Doc build is failing"
From https://github.com/pystatgen/sgkit/runs/5763700555?check_suite_focus=true:

[code]

[2022-03-31 16:33] ravwojdyla opened #832 "Validation suite failing due to gcloud action update"
See: https://github.com/google-github-actions/setup-gcloud#-notices

[2022-04-01 07:37] tomwhite commented on #832
The validation suite is now passing

[2022-04-01 07:37] #832 closed

[2022-04-01 09:09] tomwhite commented on #830
The underlying cause here is the following error, that I get with cyvcf2 version 0.30.15, but not with 0.30.14:

[code]

We pin NumPy to < 1.22 (due to #812), and it looks like cyvcf2 0.30.15 (which was released fairly recently) uses a later version, hence the problem. I think we can pin cyvcf2 < 0.30.15.

[2022-04-01 09:43] tomwhite commented on #817
I've managed to get the main build working again (#833), so I can do a release soon (probably next week). We have a complicated set of pinned dependencies, which we'd like to remove over time, but they are needed for the time being.

[2022-04-01 13:18] tomwhite commented on #828
Opened https://github.com/zarr-developers/zarr-python/issues/1000

[2022-04-01 14:24] tomwhite commented on #817
We discussed the release process a bit in #765. It should be something like the [tskit release process](https://tskit.dev/tskit/docs/latest/development.html#python).

[2022-04-01 15:49] #830 closed

[2022-04-05 08:42] jeromekelleher opened #834 "Pick up Zarr 2.11.3"
This may resolve #828.

https://github.com/zarr-developers/zarr-python/pull/1002

We should keep the pin on zarr != 2.11.0,2.11.1 indefinitely I guess, since we know they are breaking.

[2022-04-07 09:37] tomwhite commented on #834
Zarr 2.11.3 seems to be passing tests

[2022-04-07 10:09] #834 closed

[2022-04-07 11:44] tomwhite commented on #817
## Release instructions

With the latest main branch checked out locally, tag the release:

[code]

This will run some actions, including one that builds wheels and uploads artifacts to [test PyPI](https://test.pypi.org/project/sgkit/).

Publish a versioned copy of the documentation by following [these instructions](https://github.com/pystatgen/sgkit/issues/608#issuecomment-891117795). (Note, we w

[2022-04-07 11:45] tomwhite commented on #817
Version 0.5.0 is released!

[2022-04-07 11:45] #817 closed, assigned to nobody

[2022-04-07 11:46] tomwhite commented on #828
Fixed in #834

[2022-04-07 11:46] #828 closed

[2022-04-08 03:14] timothymillar opened #836 "Allow chunking in the samples dimention for method identity_by_state"
The upstream issue has been (miraculously) solved https://github.com/dask/dask/issues/8131#issuecomment-1055709277. Removing the check for chunking also simplifies the code.

[2022-04-11 03:20] timothymillar opened #838 "Basic pedigree schema"
See discussion in #786

A basic schema consists of:

- `sample_id` of shape `(samples, )` containing unique identifiers for samples (already implemented).
- `parent_id` of shape `(samples, parents)` containing unique identifiers of the parents of each sample where identifiers which are not found within `sample_id` are treated as unknown/missing parents.

From these we can calculate array `parent`

[2022-04-11 12:28] jeromekelleher commented on #838
LGTM @timothymillar.

I'm uneasy about treating *any* unknown string as missing data though, as this feels like it could make it easy to make subtle mistakes. What if I typed "mum" in the ``ds["parent_id"]`` assignment above?

I think it would probably be better to have a designated "missing" identifier, like "." or "NA" which we check for. We could support both, I guess, making the "missing_id" v

[2022-04-12 01:00] timothymillar commented on #838
Good call @jeromekelleher. Explicit is better and, if needed, it also leaves us the option of other special values.

[2022-04-12 09:33] timothymillar commented on #836
@tomwhite it was fixed in https://github.com/dask/dask/pull/8542 and seems to have been a bug in the optimization of blockwise operations. I don't quite understand the details but it looks like the underlying bug was identified due issues with matmul.

[2022-04-12 10:35] AlksIDo opened #840 "Concat VCF's in a sample-wise manner"
Would it be possible to concatenate multiple VCF files into a single Zarr store, preserving sample information, with sgkit?

As an example, I got two files, vcf1, where sample1 is stored, and vcf2, where sample2 is stored.

The following code:
[code]
Will generate a storage with only one sample instead of two.
[code]
The same result would be obtained if I first convert vcf to zarrs and concatenate

[2022-04-14 14:29] tomwhite commented on #840
Hi @AlksIDo - thanks for the question. In the case of multiple VCF files, they are expected to have the same samples (in fact, the same headers), so using `vcf_to_zarr` in the way you showed won't work.

I think the best bet would be to convert the VCFs to separate Zarr stores, then use [xarray methods](https://xarray.pydata.org/en/v2022.03.0/user-guide/combining.html) to combine them into a singl

[2022-04-14 17:39] ravwojdyla opened #842 "♻️ cirun not shutting down GCE instances"
Related to https://github.com/pystatgen/sgkit/issues/821

Looks like the 2 GPU VMs started for the build https://github.com/pystatgen/sgkit/actions/runs/2168279484 have not been properly shutdown and been idling:
* cirun-pystatgen--sgkit-0ca345b
* cirun-pystatgen--sgkit-38493a7

If I was to guess what's going on under the hood with cirun, it probably doesn't properly clean VMs if the job gets **ca

[2022-04-14 17:49] aktech commented on #842
Hey @ravwojdyla thanks for reporting this, I'll look at the logs and will try to reproduce this.

**A side note:**
Also, we're trying to add more visibility around VM creation (and deletion soon) via the Checks API, something like this:
https://github.com/Quansight/qhub/runs/5979157352 (there will be more detailed info there soon), it seems pystatgen organization has not accepted the required perm

[2022-04-14 17:53] ravwojdyla commented on #842
@hammer can probably help with the permissions ^

[2022-04-14 18:50] #820 closed

[2022-04-14 18:52] AlksIDo commented on #840
Hello, @tomwhite!
A VCF files could contain both different and identical variants. For instance, it could be patients from any of the TCGA cohorts.

[2022-04-14 19:24] eric-czech commented on #820
Hm I don't and I'm pretty sure the last version I ever tested at scale on bgen data was 0.3.1 (I was using this [environment](https://github.com/related-sciences/ukb-gwas-pipeline-nealelab/blob/231d0e6e74772d1ae56205723952a5fff955aa74/envs/gwas.yaml#L32)).  I could be wrong, but I don't recall adding a pin in sgkit for any particular reason.

[2022-04-14 19:28] eric-czech commented on #820
You're worried the current rechunking test cases for bgen_reader don't cover potential issues at a larger scale?

[2022-04-14 20:14] ravwojdyla commented on #842
FYI @aktech it happened again this time for this build: https://github.com/pystatgen/sgkit/actions/runs/2169025326, and this time just one VM is left idling: cirun-pystatgen--sgkit-a7f4863

[2022-04-14 20:26] hammer commented on #842
What permissions do I need to change?

[2022-04-14 20:35] ravwojdyla commented on #842
@aktech ^

Also one more problem, now looking at the logs, it looks like cirun created 5 VM for this build https://github.com/pystatgen/sgkit/actions/runs/2168279484:
 * cirun-pystatgen--sgkit-c146d09
 * cirun-pystatgen--sgkit-38493a7
 * cirun-pystatgen--sgkit-c7dda6a
 * cirun-pystatgen--sgkit-0ca345b
 * cirun-pystatgen--sgkit-d161d61

and as mentioned above left 2 idling (2 extra ones were probab

[2022-04-15 13:52] tomwhite commented on #820
Thanks @eric-czech!

Yes. In yesterday's meeting we decided to upgrade to the new rechunker (0.5.0), and fix any scalability problems if they arise.

[2022-04-15 14:01] tomwhite commented on #840
You could try the following:
1. convert each VCF into a separate Zarr store
2. open each dataset using `sgkit.load_dataset`
3. set the index on each dataset to contig and position (see code in https://pystatgen.github.io/sgkit/latest/how_do_i.html#subset-to-a-genomic-range)
4. do an outer join using `xr.merge` with `join=outer`

[2022-04-15 14:04] rabernat commented on #820
I'm eager to hear whether 0.5 works for you. It's hard to cover very large computations with CI, but in all of my ad hoc testing, the scalability problems from 0.4 have disappeared.

[2022-04-15 16:57] eric-czech commented on #820
Got it.  The best way I can think to test then (since I can't share the files) is probably to write a big fake bgen file with https://github.com/lemieuxl/pybgen and then try the sgkit rechunker on it.  That was what I used to when I was experimenting on smaller, synthetic bgen data.  If you could get it to create dask arrays with roughly square chunks, then that would be all I was trying to accomp

[2022-04-16 14:10] aktech commented on #842
Hey @ravwojdyla I'll take a look at these, won't be able to promise immediate action as I am about go on my wedding leave, but will find about these as soon as I can.

[2022-04-16 15:41] ravwojdyla commented on #842
@aktech oh, definitely and congrats! Take your time.

[2022-04-18 11:54] AlksIDo commented on #840
On this step I got the following error:
`ValueError: cannot reindex or align along dimension 'variants' because the index has duplicate values`

Is there a simple way to fix this problem or do duplicates have to be avoided?

[2022-04-18 20:24] percyfal commented on #785
I have encountered this situation as well in a case where I read a vcf, convert to zarr, load the zarr dataset to perform some operations (ld pruning in this case), and then try to save which throws the error above. I did manage to identify a solution which I post here for reference. I'm pretty new to the xarray data structures so let me know if this makes sense or not.

Upon reading the zarr data

[2022-04-19 08:41] jeromekelleher commented on #785
Thanks for digging in here @percyfal. Numpy strings are always a pain :cry:

Any thoughts here on what's going on @tomwhite?

[2022-04-19 09:06] percyfal commented on #785
No problem @jeromekelleher I have some more info if needed. For some reason the encoding is given two passes in zarr.core.Array._encode_chunk:
[code]
such that `chunk` is of type `bytearray` the second time around.

[2022-04-20 11:30] tomwhite commented on #840
As far as I know duplicates need to be removed to set an index for merging.

[2022-04-20 11:58] tomwhite commented on #785
I agree that strings are hard to get right with NumPy - adding Zarr and Xarray makes things even more constrained.

In general, the approach we take is to store strings with dtype `O` and [Zarr's numcodecs.VLenUTF8 encoding for variable-length strings](https://zarr.readthedocs.io/en/stable/tutorial.html#string-arrays). See #665 and https://github.com/pystatgen/sgkit/blob/f39e1b1bc3b16d05c5043ab5d4

[2022-04-22 08:26] timothymillar opened #844 "Pedigree topological order"
Many pedigree algorithms require the topological ordering of nodes such that each individual occurs before its decedents. In sgkit it makes sense to simply calculate and store the topological order as an array of indices. This array can be calculated from the `parent` array introduced in #839. There are several graph libraries which could be used to compute topological order https://github.com/pys

[2022-04-22 08:33] jeromekelleher commented on #844
Great idea @timothymillar. I suspect it would be simpler to just implement this ourselves. We have an implementation in tskit we can compare against:
- https://tskit.dev/tskit/docs/stable/python-api.html#tskit.TableCollection.sort_individuals
- [C code](https://github.com/tskit-dev/tskit/blob/3376ebf8b8ea7ddc5e95c3a54dcfba3e727a1557/c/tskit/tables.c#L6755)

[2022-04-22 09:48] timothymillar opened #845 "Pedigree based kinship estimation"
See discussion in #786, depends on #844

We probably want to start with separate implementations for the diploid and autopolyploid cases. The diploid implementations should only require the pedigree structure itself as specified by the `parent` array. There are fast approximate algorithms for diploids (e.g. [Kirkpatrick et al 2019](https://academic.oup.com/bioinformatics/article/35/6/1002/5085372)

[2022-04-25 09:59] timothymillar commented on #844
Just a question on implementation details @jeromekelleher. In my mind a pedigree is a collection of vertices and edges with direction `parent --> child`, however, in the `parent` array we are storing those edges as `child --> parent`. Therefore, it's simpler to compute a topological order assuming `child --> parent` direction (as in Tskit). We can then reverse the computed topological ordering to

[2022-04-26 10:37] timothymillar commented on #844
Looking into this further I don't think that storing the topological sort order is the correct way to go. The problem is that storing the sort order in a Dataset requires that we give it a dimention. The obvious dimension choice is "samples" as there is one value per sample, however, this would imply that the i<sup>th</sup> value in the sort order array relates to the i<sup>th</sup> sample in the

[2022-04-26 13:11] jeromekelleher commented on #844
Child->parent is nearly always better for representation when storing things because the number of parents any particular child has is bounded, whereas a parent can have any number of children. So, we can represent a diploid child->parent pedigree via a 2D array, but we'd have to have a ragged array if it was parent->child.

[2022-04-26 13:11] jeromekelleher commented on #844
Woot!

[2022-04-28 10:05] #836 closed

[2022-04-28 10:49] tomwhite commented on #785
@percyfal that looks like a decent approach to get things working. I'd like to understand this better though, as your original code should work as-is, and the fact that it doesn't looks like a bug to me. Are you able to share the VCF or extract a cutdown/anonymised version as a minimal reproducible example?

[2022-04-28 13:56] percyfal commented on #785
The input VCF is actually simulated using [stdpopsim](https://popsim-consortium.github.io/stdpopsim-docs/stable/index.html) and [tskit](https://tskit.dev/tskit/docs/stable/introduction.html):
[code]
A MWE in python is then
[code]
which fails with the error above. The simulated output encodes ref/alt as 0/1, which e.g. gatk ValidateVariants complains about. I tried the code also on a "regular" vcf,

[2022-04-28 14:13] tomwhite opened #849 "Add pandas to upstream test"

[2022-04-28 14:49] tomwhite opened #850 "Upstream xarray causing build to fail with "ValueError: unmatched dimensions for multi-index variables""
From https://github.com/pystatgen/sgkit/runs/6213029601?check_suite_focus=true:

[code]

[2022-05-01 21:15] timothymillar commented on #844
Done in #846

[2022-05-01 21:15] #844 closed

[2022-05-05 13:13] tomwhite commented on #785
Thanks for the MWE @percyfal! I have been trying to get to the bottom of this, and I think there are at least two issues. (The ref/alt 0/1 encoding is not the problem, as you point out, since the same thing happens with any VCF.)

The root cause seems to be this long-standing issue in xarray: https://github.com/pydata/xarray/issues/3476. I think we can solve this in `sgkit.save_dataset`, see https

[2022-05-05 13:40] #815 closed

[2022-05-05 18:52] percyfal commented on #785
@tomwhite your proposed fix solves my problem, thanks, and presumably the originally posted issue.

Cheers,

Per

[2022-05-05 19:09] tomwhite commented on #785
Great - thanks for trying it out.

[2022-05-05 19:14] #785 closed

[2022-05-05 20:55] hammer commented on #785
Great detective work @tomwhite! Should we file an issue to track the upstream Xarray + Zarr issue?

[2022-05-06 08:00] tomwhite opened #853 "Xarray serialization warning when saving dataset"
From #785:

[code]

prints the warning:

[code]

There is an upstream xarray issue here: https://github.com/pydata/xarray/discussions/5769. #643 is related too.

[2022-05-06 08:01] tomwhite commented on #785
Yes, I opened #853 for the remaining problem.

[2022-05-06 09:04] tomwhite commented on #850
This started failing after #5692 went in.

[2022-05-09 09:37] alimanfoo commented on #544
Hi folks, just to mention that the ability to write data from sgkit-style xarray dataset to plink format has come up again as something that would be very useful to have.

Specific use case currently is wanting to run [ADMIXTURE](https://dalexander.github.io/admixture/) for which there is no Python implementation currently AFAIK.

[2022-05-09 09:42] alimanfoo commented on #544
Just to add, a convenient workflow is to have data in zarr format, then use sgkit and xarray to select samples and variants to be used for the admixture analysis, then export this selection to plink.

[2022-05-09 09:48] alimanfoo commented on #544
Looks like the bed-reader package has a [to_bed()](https://fastlmm.github.io/bed-reader/#bed_reader.to_bed) function.

[2022-05-16 08:46] tomwhite opened #857 "Remove scikit-learn pin"
When dask-ml has a new release that includes https://github.com/dask/dask-ml/pull/910 (version number after v2022.1.22) then we can remove the scikit-learn pin added in 7ce14d8f47b85772c66addb9e7d59b0e550b4fb3.

[2022-05-16 08:50] tomwhite commented on #771
Sorry I missed this originally. Would you like to submit a PR to make these improvements @elfring?

[2022-05-16 08:51] tomwhite commented on #746
Closing this as we have had two new releases since.

[2022-05-16 08:51] #746 closed

[2022-05-16 08:55] tomwhite commented on #655
Numba wheels should be available in the next release according to https://github.com/numba/numba/issues/7951#issuecomment-1126043337

[2022-05-16 10:09] elfring commented on #771
:crystal_ball: Can the shown change suggestion eventually be integrated also by an other contributor?

[2022-05-16 16:45] hammer commented on #771
I personally find augmented assignment statements less readable. If others disagree that’s fine.

[2022-05-16 16:52] jeromekelleher commented on #771
I think all the examples above are improvements, but :shrug:

[2022-05-16 19:21] aktech commented on #842
Hey @hammer for permissions update:

You can go to the following link and accept new permissions (the link only works for organization owner):
https://github.com/organizations/pystatgen/settings/installations/16980038/permissions/update

<details>
  <summary>Alternatively (click to expand)</summary>

You should be able to go to **organisation settings** > **GitHub Apps** (under Integrations) this

[2022-05-16 19:21] ravwojdyla commented on #842
@aktech oh that sounds like pesky bugs. Thanks for debugging and looking forward to the fixes, please keep us posted. And nice to see you again btw, this time as a happily married man :D

[2022-05-17 09:00] timothymillar opened #858 "Pedigree based inbreeding estimation"
Related to #845. Estimation of inbreeding coefficients from pedigree data does not require computation of the full kinship matrix. [Hamilton and Kerr (2017)](https://pubmed.ncbi.nlm.nih.gov/29260268/) outline an approach to this which works for both diploid and autopolyploid pedigrees. The efficiency of this method is dependent on pedigree complexity, but it should generally be much faster than co

[2022-05-25 09:02] timothymillar opened #859 "A-matrix and inverse A-matrix"
The A-matrix (AKA pedigree relatedness or the numerator relationship matrix) can be computed from pedigree kinship as kinship * ploidy for the fixed-ploidy case. The inverse of the A-matrix (**A**<sup>-1</sup>) is used in both pedigree-BLUP and single-step-GBLUP for genomic prediction. **A**<sup>-1</sup> can be computed by inverting **A** but this is impractical when **A** is large. Alternatively,

[2022-05-26 09:02] timothymillar opened #860 "Allow kwargs in define_variable_if_absent"
I would like to allow the passing of keyword arguments to methods called with `define_variable_if_absent`. For example, the A-matrix (#859) is computed from the kinship matrix and requires some of the same arguments as the calculation of kinship matrix. If calculating the A-matrix automatically computes the kinship matrix without passing through those arguments then an incorrect A-matrix (and kins

[2022-05-26 09:14] tomwhite commented on #860
The change wouldn't change the rules in #352, would it? So I think it would be fine.

[2022-05-26 09:33] timothymillar commented on #860
Ah, that's helpful thanks. In this case it would be similar to calling pbs(ds, estimator='nei') where the 'estimator' is passed through to Fst and also used directly in pbs. So I think it fits within those guidelines.

[2022-05-26 11:34] aktech commented on #842
These issues have been fixed recently. I will be keeping an eye for anything weird happening.

[2022-05-26 15:02] ravwojdyla commented on #842
@aktech should we close this, or keep it open until the next GPU test, and validate that everything works fine?

[2022-05-26 15:48] aktech commented on #842
I think we can keep it open for sometime, until the next GPU tests.

[2022-05-27 05:10] timothymillar opened #861 "Weir_Goudet_beta fails if identity_by_state is not a dask array"
I missed this, `da.tril` looks for chunks so `da.tril(ibs, -1)` fails if `ibs` is not a dask array.

[2022-06-09 16:21] tomwhite opened #864 "LD prune test is failing due to differences with scikit-allel"
Hypothesis is finding cases where sgkit and scikit-allel differ.

For example:

<details>

[code]
</details>

From https://github.com/pystatgen/sgkit/runs/6813432367?check_suite_focus=true#step:8:1124.

At a cursory glance this looks like it could be due to a problem with precision, which we've had with Rogers Huff calculations before. I'm not sure why this has started happening now though - perha

[2022-06-10 07:57] jeromekelleher commented on #864
Hypothesis is a bit of a mixed blessing in my experience - it does find important corner cases sometimes, but you spend a lot of time figuring out how to avoid unimportant cases that'll just never happen.

I'd be happy to skip this test for now, and log the hypothesis thing as an issue.

[2022-06-10 08:48] eric-czech commented on #864
With a threshold of 0 and all variants but one having the same genotype across all samples, I think sgkit is doing the correct thing here while scikit-allel is not.  I'm pretty sure the difference is a result of this discrepancy:

[allel/opt/stats.pyx#L68-L70](https://github.com/cggh/scikit-allel/blob/6d8b4be5e2827c056cb15170d2c1092c27662219/allel/opt/stats.pyx#L68-L70)
[code]

https://github.com/

[2022-06-16 18:12] eric-czech commented on #864
Hey @tomwhite sorry for the delay, but I don't think it would.  Maybe that one is from a precision difference.

FWIW what I had in mind was to put something like `x = x[(np.diff(x, axis=1) != 0).any(axis=1)]` (remove rows/variants with identical values) in the hypothesis function right after: https://github.com/pystatgen/sgkit/blob/b99c708040d8ef647599ac6cc9b43df0ccce5f94/sgkit/tests/test_ld.py#L1

[2022-06-21 11:39] #861 closed

[2022-06-21 23:49] #730 closed

[2022-06-22 01:05] #859 closed

[2022-06-23 04:12] timothymillar commented on #860
Done in #862

[2022-06-23 04:12] #860 closed

[2022-06-29 18:56] clwgg opened #868 "`gwas_linear_regression` is sensitive to Dataset transposition"
Hi, I am encountering an error when calling `gwas_linear_regression` on a transposed `Dataset`. Given that all the dimensions are labelled in a standardized way, it seems to me that this could be handled more gracefully. Below I reproduce the error using the data from the GWAS tutorial:

This works fine (just the tutorial, skipping QC for brevity):
[code]

This throws an error:
[code]
Specifically

[2022-06-30 15:13] jeromekelleher commented on #868
That is a somewhat obscure error all right @clwgg - do you have suggestions on how this could be handled better?

[2022-06-30 17:54] clwgg commented on #868
hmm... so the `Q`, `Y` and `G` matrices go into the linear regression [here](https://github.com/pystatgen/sgkit/blob/main/sgkit/stats/association.py#L236), and it looks to me as though the only one not "dimension-safe" is the `G` matrix generated in `_get_loop_covariates` [here](https://github.com/pystatgen/sgkit/blob/main/sgkit/stats/association.py#L109). So I _think_ just popping a `.transpose("

[2022-07-01 09:46] jeromekelleher commented on #868
It may not be worth having a full fix in there (might get complicated in corner cases and lead to unexpected slow-downs, as I assume transpose will be a big operation), but detecting the problem and throwing a useful error message would definitely be useful.

[2022-07-01 12:30] eric-czech commented on #868
I vaguely remember discussing trying to enforce dimension order at one point and I do think it's hard to address universally, so I believe we decided against it for the time being (or at least that's what I came away with).  I can almost see having the default behavior be to do the transpositions if necessary and throw something like a  `PerformanceWarning`, but a need to move dimensions around ha

[2022-07-03 15:43] clwgg commented on #868
alright, that all makes sense! thanks for the replies!
And yeah, I think including dimension order checks in the dataset validation would be great!
@eric-czech no, no particular reason to work with transposed data! I stumbled across this pretty much by accident.

[2022-07-03 23:39] timothymillar opened #869 "Disable numba caching via environment variable"
Edit: related to #371

I've recently started experimenting with sgkit on a [SLURM cluster](https://jobqueue.dask.org/en/latest/generated/dask_jobqueue.SLURMCluster.html) which is working well with the exception of methods using `guvectorize` with `cache=True`. Calling these functions results in a segmentation fault on the worker. This only seems to be an issue with `guvectorize` (not the `jit` or

[2022-07-04 08:17] jeromekelleher commented on #868
Great, sounds like we have a plan. PR very welcome @clwgg!

[2022-07-07 23:38] timothymillar opened #871 "Avoid dependencies between chunks in variants dimensions caused by unnecessary dask usage"
I've noticed that `count_call_alleles` and some methods using cohorts create unnecessary dependencies between chunks in the variants dimension. For example the current task graph for `observed_heterozygosity` on a dataset with 10 chunks in the variants dimentions looks like this:
<details>
<summary>Task graph</summary>
<br>

![obshet_old](https://user-images.githubusercontent.com/14065102/17788656

[2022-07-19 10:07] #871 closed

[2022-07-19 10:14] tomwhite opened #873 "Windows build (on Python 3.8) is failing"
See https://github.com/pystatgen/sgkit/runs/7401279513?check_suite_focus=true

The problem seems to be that the latest cbgen (1.0.2) doesn't have Windows wheels (https://github.com/limix/cbgen/commit/9a1d69adabd3d6c1399c5dfdeee1b7e66d95de3a)

Related to #813

[2022-08-01 17:48] #682 closed

[2022-08-02 04:48] timothymillar opened #874 "VanRaden GRM"
Implement the VanRaden genomic relationship matrix ([VanRaden 2008](https://www.sciencedirect.com/science/article/pii/S0022030208709901)). This is typically calculated from dosages for biallelic markers and has been generalized to autopolyploids (fixed ploidy).
One consideration is the specification of "base"/"ancestral"/"founder" allele frequencies. These are often estimated from the sample popul

[2022-08-02 04:56] timothymillar opened #875 "Is there a diference between variables `dosage` and `call_dosage`"
Are these duplicate variables? `call_dosage` seems to be more explicit with ndim=2 and the associated `call_dosage_mask` but isn't currently being used. Variable `dosage` doesn't specify dimensions and is used for LD pruning.

[2022-08-02 10:40] jeromekelleher commented on #875
@eric-czech you're probably be best positioned to answer this one, would you mind taking a look?

[2022-08-02 11:36] eric-czech commented on #875
Hm I can't remember or think of a good reason why the `dosage` variable needs to exist separately from `call_dosage`.  +1 to switching references of `dosage` to `call_dosages` like in regenie or the bgen reader.

[2022-08-02 11:59] tomwhite opened #876 "Fix blog build"
We get the following error in https://github.com/pystatgen/sgkit/runs/7616945453?check_suite_focus=true:

[code]

This is running with Sphinx v4.2.0.

[2022-08-02 12:08] tomwhite commented on #876
Filed upstream as https://github.com/sunpy/ablog/issues/151

[2022-08-02 12:43] #876 closed

[2022-08-02 12:46] #371 closed

[2022-08-02 12:56] tomwhite commented on #873
I don't know when this will be fixed, so perhaps we should disable the Windows/Python 3.8 combination. Or pin to cbgen 1.0.1 for that case.

[2022-08-02 14:15] tomwhite opened #879 "Unpin cbgen on Windows Python 3.8 once upstream is fixed"
See #873 and #878

[2022-08-02 14:16] #873 closed

[2022-08-02 15:07] #801 closed

[2022-08-02 16:03] tomwhite opened #880 "Wheels test on macOS on Python 3.10 fails"
There is no `cyvcf2` wheel for this combination, so we need to fix that. See https://github.com/brentp/cyvcf2/issues/245

Failure: https://github.com/pystatgen/sgkit/runs/7634527135?check_suite_focus=true

[2022-08-02 16:05] tomwhite opened #881 "Fix windows wheels tests"
Don't test on Python 3.10, and make sure Python 3.8 and 3.9 use cbgen 1.0.1 not 1.0.2 (like #878, but in setup.cfg).

[2022-08-02 16:36] tomwhite commented on #857
This should be doable now that dask-ml 2022.5.27 is out: https://github.com/dask/dask-ml/releases/tag/v2022.5.27

[2022-08-02 16:37] tomwhite commented on #869
Can this be closed now that #870 is in?

[2022-08-02 16:39] tomwhite commented on #842
Recent GPU tests seem to be failing, e.g. https://github.com/pystatgen/sgkit/actions/runs/2783193506

[2022-08-02 18:40] aktech commented on #842
The relevant issue for it is: https://github.com/pystatgen/sgkit/issues/814 and [this](https://github.com/pystatgen/sgkit/issues/842) one can be closed now as it's irrelevant.

[2022-08-02 21:24] timothymillar commented on #869
Maybe we should leave it open for now to document the `SGKIT_DISABLE_NUMBA_CACHE` variable. I also wondered if you had a suggestion for testing that setting that variable works as expected in CI?

[2022-08-02 21:53] timothymillar commented on #875
Thanks @eric-czech, I missed the uses in  regenie and the bgen reader. I can have a look at merging these variables when I get a chance. A couple of related questions:
- Would it make sense to replace the constants defined [here](https://github.com/pystatgen/sgkit/blob/main/sgkit/io/bgen/bgen_reader.py#L35) with their equivalent variables from `variables.py`?
- Would it be worth having the dosage

[2022-08-03 07:00] tomwhite commented on #842
Thanks @aktech

[2022-08-03 18:30] eric-czech commented on #875
Yep, I don't see why not.  I believe I added that well before `variables.py` existed so it should use that convention instead.

I think I'm very mildly opposed to that since it wouldn't be uncommon to provide an array with imputed dosages or some other transformation that might get ignored if a user forgets to pass the new variable name, but I can see it either way.

[2022-08-03 19:10] d-laub opened #882 "Error using vcf_to_zarr with HLA contigs"
HLA contigs have colons and dashes in their names and I believe this isn't addressed by the `vcf_to_zarr` implementation, specifically the `get_region_start` function:

https://github.com/pystatgen/sgkit/blob/d08feba59415fa502150ad1d052e5377cdb83a94/sgkit/io/vcf/vcf_reader.py#L94-L100

This causes a "too many values to unpack" exception since HLA contigs can be, for example, HLA-A*01:01:01:01. I'm

[2022-08-08 08:52] #881 closed

[2022-08-09 01:48] timothymillar opened #885 "Cohort statistics without numba"
I've been giving a bit more thought to how we can calculate cohort statistics (see #730) without using numba and realized that we could potentially use the same solution mentioned in https://github.com/pystatgen/sgkit/pull/114#issuecomment-678921281. That approach only uses generic array operations making it very portable (e.g. for #803). However, it does involve passing the data though a higher d

[2022-08-09 08:39] jeromekelleher commented on #885
I'd be inclined to take a "if it ain't broke don't fix it" view on this @timothymillar - after all, we depend pretty much entirely on numba, and I'm not sure the library will work in any meaningful way without it?

The approach does look quite straightforward though, I agree.